<div class="shell gouf_text fold-container" rel="gouf">	
	<div class="fold-content{% if not _sets.dir.gouf%} hidden{% endif %}">
		<img src="/images/thumbs/305122.jpg" align="left" />
		<p>
			Добрый день. Меня зовут Gouf Custom MS-07B-3 и я выполняю тут функции разведчика. 
			 В мои задачи входит поиск битых ссылок и отчет по ним в штаб. 
			 Информация обновляется постоянно, следите за событиями.		
		</p>
		<p>
			Отчет вы можете увидеть ниже, по умолчанию они отсортированы по степени критичности ситуации: 
			 от самых тяжелых к не слишком срочным. Сортировку можно настраивать как вам удобней.
			 Мы будем очень благодарны, если вы поможете нам разобраться с некоторыми из них. <br />
			Новую ссылку на замену битой можно предоставить в комментариях, 
			 модераторы обязательно заменят ей старую. 
			 То же самое и если вы просто добавляете зеркало к ссылке. 
			 Обсуждение и комментарии моей работы <a href="/board/d/thread/5246/">по этой ссылке</a>
		</p>
		<table class="gouf_color_schema">
			<tr>
				<td colspan="2">
					Цветовая схема:
				</td>
			</tr>
			<tr>
				<td>
					<div class="gouf_color_wrapper">
						<div class="gouf_color gouf_color_0"></div>
					</div>
					<div class="gouf_color_description">
						Ссылка еще не проверена.
					</div>
				</td>
				<td>
					<div class="gouf_color_wrapper">
						<div class="gouf_color gouf_color_1"></div>
					</div>	
					<div class="gouf_color_description">
						Ссылка рабочая.
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="gouf_color_wrapper">
						<div class="gouf_color gouf_color_2"></div>
					</div>	
					<div class="gouf_color_description">
						Не удалось определить работоспособность.
					</div>
				</td>
				<td>
					<div class="gouf_color_wrapper">
						<div class="gouf_color gouf_color_3"></div>
					</div>	
					<div class="gouf_color_description">
						Ссылка битая.
					</div>
				</td>
			</tr>
		</table>
	</div>
	<span>
		Gouf Custom MS-07B-3, вступление закончил, приступаю к отчету.
		<a href="#" class="disabled {% if not _sets.dir.gouf%}un{% endif %}fold right" 
			 rel="{% if _sets.dir.gouf%}Развернуть{% else %}Свернуть{% endif %}">
			{% if _sets.dir.gouf%}Свернуть{% else %}Развернуть{% endif %}
		</a>
	</span>
</div>
