<div class="shell gouf_menu">
	<a href="/post/gouf/"{% if active_menu == 0 %} class="plaintext"{% endif %}>
		Записи
	</a>
	&nbsp;|&nbsp;
	<a href="/post/gouf/update/"{% if active_menu == 1 %} class="plaintext"{% endif %}>
		Обновления
	</a>
	&nbsp;|&nbsp;
	<a href="/post/gouf/flea/"{% if active_menu == 2 %} class="plaintext"{% endif %}>
		Записи, барахолка
	</a>
	&nbsp;|&nbsp;
	<a href="/post/gouf/flea/update/"{% if active_menu == 3 %} class="plaintext"{% endif %}>
		Обновления, барахолка
	</a>
</div>
