<div class="shell">
	<div class="sort-visible">
		{% for sorter in sorters %}
			<div class="sort-item">
				Сортировка:
				 <select class="field">
					<option value="overall" rel="no_percent"
						{% if sorter.get_field == 'overall' %} class="selected"{% endif %}>
							Общая ситуация
					</option>
					<option value="total" rel="no_percent"
						{% if sorter.get_field == 'total' %} class="selected"{% endif %}>
							Всего ссылок
					</option>
					<option value="broken" rel="percent"
						{% if sorter.get_field == 'broken' %} class="selected"{% endif %}>
							Мертвые ссылки
					</option>
					<option value="partially_broken" rel="percent"
						{% if sorter.get_field == 'partially_broken' %} class="selected"{% endif %}>
							Битые зеркала
					</option>
					<option value="unmirorred" rel="percent"
						{% if sorter.get_field == 'unmirorred' %} class="selected"{% endif %}>
							Неотзеркалено
					</option>
					<option value="unknown" rel="percent"
						{% if sorter.get_field == 'unknown' %} class="selected"{% endif %}>
							Не удалось проверить
					</option>
					<option value="uncheked" rel="percent"
						{% if sorter.get_field == 'uncheked' %} class="selected"{% endif %}>
							Еще не проверено
					</option>
					<option value="lastcheck" rel="no_percent"
						{% if sorter.get_field == 'lastcheck' %} class="selected"{% endif %}>
							Дата последней проверки
					</option>
				</select>
				 <select class="direction">
					<option value="desc"
						{% if sorter.get_direction == 'desc'%} class="selected"{% endif %}>
							По убыванию
					</option>
					<option value="asc"
						{% if sorter.get_direction == 'asc'%} class="selected"{% endif %}>
							По возрастанию
					</option>
				</select>
				 <select class="operation"
					{% if sorter.get_field == 'overall' or sorter.get_field == 'total' or sorter.get_field == 'lastcheck' %}
						 style="visibility:hidden;" disabled="disabled"
					{% endif %}
				 >
					<option value="normal"
						{% if not sorter.have_operations %} class="selected"{% endif %}>
							В абсолютном
					</option>
					<option value="percent"
						{% if sorter.have_operations %} class="selected"{% endif %}>
							В процентах
					</option>
				</select>
				<input type="button" class="disabled remove_sort" value="-" />
			</div>
		{% endfor %}
	</div>
	<div class="sort-item hidden">
		Сортировка:
		 <select class="field">
			<option value="overall" rel="no_percent">
				Общая ситуация
			</option>
			<option value="total" rel="no_percent">
				Всего ссылок
			</option>
			<option value="broken" rel="percent">
				Мертвые ссылки
			</option>
			<option value="partially_broken" rel="percent">
				Битые зеркала
			</option>
			<option value="unmirorred" rel="percent">
				Неотзеркалено
			</option>
			<option value="unknown" rel="percent">
				Не удалось проверить
			</option>
			<option value="uncheked" rel="percent">
				Еще не проверено
			</option>
			<option value="lastcheck" rel="no_percent">
				Дата последней проверки
			</option>
		</select>
		 <select class="direction">
			<option value="desc">
				По убыванию
			</option>
			<option value="asc">
				По возрастанию
			</option>
		</select>
		 <select class="operation" style="visibility:hidden;" disabled="disabled">
			<option value="normal">
				В абсолютном
			</option>
			<option value="percent">
				В процентах
			</option>
		</select>
		<input type="button" class="disabled remove_sort" value="-" />
	</div>
	<br />
	<div>
		<input type="button" 
		 class="right disabled apply-sort" 
		 value="Применить сортировку" />
	</div>
	<div>
		<input type="button" 
		 class="disabled add-sort" 
		 value="Добавить сортировку" 
		 rel="{% if mode == 'update' %}update{% endif %}" />
	</div>
	<div class="clear"></div>
	<div class="sort-loader hidden">
		<img src="/images/ajax-loader.gif">
	</div>	
</div>
