port.php
port_action.php
test.txt
custom_templates/*

files/board_cache/*
!files/board_cache/index.php
files/post/*
!files/post/index.php

templates/side/footer.php
engine/config.php
images/full/*
!images/full/index.php
images/thumbs/*
!images/thumbs/index.php
images/booru/full/*
!images/booru/full/index.php
images/booru/thumbs/*
!images/booru/thumbs/index.php
images/booru/resized/*
!images/booru/resized/index.php
images/board/full/*
!images/board/full/index.php
images/board/thumbs/*
!images/board/thumbs/index.php
jss/m/tmp/*
!jss/m/tmp/index.php
yandex_*
