cache/autoload.cache

cache/unknown_links/*
!cache/unknown_links/index.php
cache/twig/*
!cache/twig/index.php
cache/extended/*
!cache/extended/index.php
cache/autoload.cache

config/*
.htaccess
!templates/minify/.htaccess

yandex_*

images/art/full/*
!images/art/full/index.php

images/art/resized/*
!images/art/resized/index.php

images/art/thumbnail/*
!images/art/thumbnail/index.php

images/art/large_thumbnail/*
!images/art/large_thumbnail/index.php

images/video/thumbnail/*
!images/video/thumbnail/index.php

images/post/full/*
!images/post/full/index.php

images/post/thumbnail/*
!images/post/thumbnail/index.php

images/challenge/full/*
!images/challenge/full/index.php

images/challenge/thumbnail/*
!images/challenge/thumbnail/index.php

images/news/full/*
!images/news/full/index.php

images/news/thumbnail/*
!images/news/thumbnail/index.php

images/board/full/*
!images/board/full/index.php

images/board/thumbnail/*
!images/board/thumbnail/index.php

files/art/cg_packs/*
!files/art/cg_packs/index.php

files/post/audio/*
!files/post/audio/index.php

files/post/image/*
!files/post/image/index.php

files/post/plain/*
!files/post/plain/index.php

files/board/flash/*
!files/board/flash/index.php

misc/*
