php_value upload_max_filesize 20M
php_value post_max_size 21M
php_value max_execution_time 3000
AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{HTTP_HOST} !^4otaku.ru$ [NC]
	RewriteRule ^(.*)$ http://4otaku.ru/$1 [L,R=301]	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [NE,L]
	RewriteRule "(^|/)(CVS|\.svn|\.git|engine|templates|libs)/" - [F]
</IfModule>
