php_value upload_max_filesize 20M
php_value post_max_size 21M
php_value max_execution_time 3000

AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [NE,L]
	RewriteRule "(^|/)(CVS|\.svn|\.git|engine|templates|libs)/" - [F]
</IfModule>

<FilesMatch "config.js">
	AddHandler application/x-httpd-php .js
</FilesMatch>
