/* Начальные настройки */

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	background: url(/images/topbg.gif) repeat-x;
	padding: 0px;
	margin: 0px;
	min-width: 1006px;
}

a {
	color: #42A3B9;
	cursor:pointer;
}

a.plaintext {
	color: #000000 !important;
	text-decoration: none;
}

p {
	margin-top: 0px;
}

img {
	border: none;
}

ul li {
	list-style-type: none;
}

ul.plain_list {
	margin: 0;
	padding: 0;
	list-style-type: !important;
}

.cancel-holder {
	width: 90px;
}

.left  {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.relative {
	position: relative;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.margin10 {
	 margin-bottom: 10px;
}

.margin20 {
	 margin-bottom: 20px;
}

.margin30 {
	 margin-bottom: 30px;
}

.right20 {
	margin-right: 20px;
}

.input60 {
	width: 60%;
}

.input70 {
	width: 70%;
}

.input80 {
	width: 80%;
}

.second_button {
	margin-left: 5px;
}

.first_button {
	margin-right: 35px;
}

input, textarea {
	-moz-border-radius: 0.5em !important;
	-webkit-border-radius: 0.5em !important;
	border-radius: 0.5em !important;
	background-color:#efefef ;
	border:1px solid #CCCCCC !important;
	border-bottom:1px solid #eee !important;
	border-right:1px solid #eee !important;
	padding:3px 3px 3px 3px !important;
}

button, input {
	background-color:#FFFFFF !important;
	text-decoration:none !important;
	font-weight:bold !important;
	color:#565656 !important;
	cursor:pointer !important;
	padding:3px 3px 3px 3px !important;
}

textarea {
	background-color:#FFFFFF !important;
	cursor:pointer !important;
	padding:3px 3px 3px 3px !important;
}

input:hover, input:focus, button:hover, button:focus, textarea:hover, textarea:focus {
	background-color:#efefef !important ;
	border:1px solid #CCCCCC !important;
	color:#565656 !important;

}

#easyTooltip {
	padding:5px 10px;
	border:1px solid #195fa4;
	background:#195fa4 url('/images/bg.gif') repeat-x;
	color:#fff;
}

#superbox-innerbox {
	height: auto !important;
}

wbr {
	display: inline-block;
}

div.mini-shell div.text {
	margin: 15px;
}

.clickable {
	cursor:pointer !important;
}

/* Глобальные элементы */

#content {
	padding-left: 15px;
	padding-right: 15px;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	line-height: 12pt;
	min-height: 500px;
}

#sidebar {
	padding-left: 10px;
	line-height: 15pt;
	width: 240px;
}

.art_body #sidebar {
	width: 220px;
}

#footer {
	height: 60px;
	padding-left: 30px;
	padding-top: 10px;
	margin-top: 20px;
	border-top: 1px solid #E7E7E7;
	background: url(/images/hline.gif) repeat-x;
}

/* Header */

#logo {
	float: left;
	padding-left: 10px;
}

#top_buttons {
	width:480px;
	float:left;
	margin-left: 10px;
}

#rss {
	float: right;
	width: 240px;
	margin-right: 15px;
}

#rss span {
	position: relative;
	float: left;
	top: 3px;.archive_navi ul {
	margin: 0;
	padding-left: 25px;
}

}

#rss span img {
	padding-top: 2px;
	padding-bottom: 2px;
}

.first_index_box {
	margin-top: 18px;
}

.first_box {
	margin-top: 4px;
}

.feed {
	margin-top: 10px;
}

#hline {
	clear: both;
	height: 4px;
	background: url(/images/hline.gif) repeat-x;
}

.plugin_table {
	width: 100%;
}

.plugin_table th span {
	font-weight: normal;
}

.plugin_table th, .plugin_table td {
	width: 40%;
}

.plugin_table th.checkbox, .plugin_table td.checkbox {
	width: 20%;
	text-align: center;
}

.plugin_warning {
	margin-top: 20px;
	font-size: 90%;
}

/* Content, общее */

#content h2{
	line-height: 18pt;
}

.error td {
	text-align: center;
}

.searcherror {
	width: 55%;
	height: 18px;
}

div.addborder {
	border: 2px solid rgb(231, 231, 231);
}


div.addborder > div {
	border: 1px solid rgb(204, 204, 204);
	padding: 12px;
}

div.addborder > a {
	border-bottom: 1px dashed rgb(204, 204, 204);
	text-decoration: none;
}

.settings_header {
	background-color: #E8E8E8;
	text-align: center;
}

.synonims {
	margin-right: 10px;
}

.tag_synonims {
	margin-right: 10px;
}

.tag_synonims a {
	color: #CC99FF !important;
}

/* Content, верхний блок, до содержимого */

.scrollerout {
	border: 2px solid rgb(231, 231, 231);
	margin-bottom: 10px;
}

.scrollerin {
	border: 1px solid rgb(204, 204, 204);
	padding: 12px;
}

.scrollertext {
	border-bottom: 1px dashed rgb(204, 204, 204);
	text-decoration: none;
}

#add_loader {
	text-align: center;
}

#add_form, #add_loader img {
	display: none;
}

.span-red {
	color: red;
	font-weight: bold;
}

.span-green {
	color: green;
	font-weight: bold;
}

#content ul{
	padding-left: 15px;
	margin: 0;
}

#content .car-list li{
	list-style: none;
	padding: 0;
	margin-bottom: 4px;
}

#content li ul li{
	margin-bottom: 2px;
}

.car-yearmonth:hover {
	cursor: pointer;
	text-decoration: underline;
}

.addres {
	margin: 0 20px 20px 20px;
}

.input_tags {
	width: 80%;
}

.as_variations {
	position: relative;
}

.choose_mask {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	background-color: #000000;
	display: block;
	opacity: 0.6;
	width: 100%;
}

/* Content, главная страница */

p.head {
	font-size: 14pt;
	text-align: center;
	margin-bottom: 5px;
	padding-bottom: 0px;
	width: 100%;
}

.loadwindow {
	text-decoration: none;
	border-bottom: 1px dashed rgb(204, 204, 204);
	margin-top: 10px;
}

.mainblock {
	margin: 2% 5% 10% 5%;
}

.togglenews {
	text-decoration: none;
	border-bottom: 1px dashed rgb(204, 204, 204);
}

.news_bar {
	margin-left: 20px;
}

.news_image {
	margin-right: 10px;
}

.wrapwindow {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	border:none;
}

table.wrapwindow {
	height:80%;
}

.rss_corner {
	position:absolute;
	top: 5px;
	right: 5px;
	width: 240px;
}

.yukari_corner {
	position:absolute;
	top: 5px;
	left: 5px;
	width: 200px;
}

.index_centerholder {
	padding-right: 3%;
	padding-left: 3%;
}

.index_topholder {
	height: 170px;
}

.index_smallcolumn {
	width: 25%
}

.index_largecolumn {
	width: 50%
}

.display_item .imageholder img, .post .imageholder img {
	margin: 0 10px 0 0;
}

.semi_large {
	font-size:10pt;
}

/* Редактирование */

#tags #chozen {
	width: 90%;
	display: block;
	visibility: hidden;
	height: 0px;
}

#tags #chozen_chzn {
	margin: 10px 0;
}

#tags .tags-loader{
	text-align: center;
}

#tags .tags-loader img{
	margin: 0 auto;
	clear: both;
	text-align: center;
}

/* Content, отображение поста */

.display_item, .post {
	clear: both;
}

.display_item h2, .post h2 {
	font-size: 14pt;
	font-weight: normal;
	margin-top: 5px;
}

.wrapper {
	clear: both;
	padding-top: 5px;
	line-height: 14pt;
}

.meta {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 90%;
	border-top: 1px dashed #ccc;
}

.shell {
	border: 1px solid #E7E7E7;
	padding: 5px;
	margin-bottom: 25px;
}

div div.handler {
	width: 97%;
}

.mini-shell {
	border: 1px solid #E7E7E7;
	padding: 2px;
}

.post-files img, .post-files object {
	vertical-align: text-bottom;
}

.post-files img {
	margin-right: 5px;
	float: left;
}

.post-files {
	line-height: 16pt;
}

.image-0 {
	margin-top: 0px !important;
}

.imageholder {
	width: 210px;
	text-align: center;
	vertical-align: top;
}

.hiddenthumb {
	display: none;
	position: absolute;
	z-index: 999;
	border: 2px solid #CCCCCC;
	background: #E7E7E7;
	padding: 10px;
}

span.player_margin {
	margin-left: 21px;
}

.imageholder div {
	margin: 10px 10px 0 0;
}

div.posttext {
	margin-bottom: 12px;
}

.display_item .seeders {
	color: #298A08;
}

.display_item .leechers {
	color: #8A4B08;
}

#updates_field_loader {
	text-align: center;
}

#updates_field, #updates_field_loader img {
	display: none;
}

input.edit {
	margin-left: 5px;
}

#updates_field .entry{
	padding: 0 80px;
	margin-top: 15px;
}

.gouf_text {
	margin-bottom: 20px;
}

.gouf_color_schema {
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid rgb(204, 204, 204);
}

.gouf_color_schema td {
	width: 50%;
	height: 30px;
	vertical-align: middle;
	padding: 5px;
}

.gouf_color_wrapper {
	position: relative;
}

.gouf_color {
	position: absolute;
	width: 15px;
	height: 15px;
}

.gouf_color_0 {
	background-color: #BBBBBB;
}

.gouf_color_1 {
	background-color: #42A3B9;
}

.gouf_color_2 {
	background-color: #EEAAFF;
}

.gouf_color_3 {
	background-color: #FF4433;
}

.gouf_color_description {
	margin-left: 30px;
}

.gouf_menu {
	text-align: center;
}

.gouf_menu a {
	width: 22%;
	display: inline-block;
	text-align: center;
}

.remove_sort {
	margin-left: 10px;
}

.sort-loader {
	text-align: center;
	width: 100%;
}

.sortable-holder {
	display: inline-block;
}

.sort-active .remove_link {
	visibility: hidden;
}

.gouf_image {
	width: 200px;
	height: 50px;
	text-align: center;
}

.gouf_links {
	padding-left: 10px;
}

.gouf_link_0 {
	color: #BBBBBB;
}

.gouf_link_2 {
	color: #EEAAFF;
}

.gouf_link_3, .broken_link {
	color: #FF4433;
}

/* Content, вывод комментариев */

#comments {
	margin-left: 15px;
}

a.comments {
  margin-top: 5px;
  margin-bottom: 20px;
}

.commentsh2 {
  font-size: 14pt;
  font-weight: normal;
  color: #42A3B9;
  margin-top: 0px !important;
}

.datetime {
	color: Gray;
	font-size: 9px;
	padding-left: 5px;
	padding-right: 5px;
}

.commentmetadata {
	font-size: 10px;
}

#comments p{
	padding: 0;
	margin: 0;
}

.comment-top {
	height: 23px;
	background: #FFFAF0;
	padding-left: 10px;
	padding-top: 7px;
}

.comment-content {
	padding-left: 10px;
	padding-top: 10px;
}

.c-wrap {
	clear: both;
	padding-top: 20px;
	border-bottom: 1px solid #DCDCDC;
}

.avatar-n {
	float: left;
	width: 50px;
	height: 50px;
	padding: 5px;
	border: 1px solid Black;
	margin-right: 10px;
}

.comment-search-text {
	margin-left: 15px;
}

.comment-text {
	margin-left: 75px;
}

.comment-depth-2 .comment, .comment-depth-3 .comment,
.comment-depth-4 .comment, .comment-depth-5 .comment,
.comment-depth-6 .comment, .comment-depth-7 .comment {
	margin-left: 50px;
}

.comment-depth-8 .comment, .comment-depth-9 .comment {
	margin-left: 40px;
}

.comment-depth-10 .comment, .comment-depth-11 .comment {
	margin-left: 30px;
}

.comment-depth-12 .comment, .comment-depth-13 .comment {
	margin-left: 25px;
}

.comment-depth-14 .comment, .comment-depth-15 .comment,
.comment-depth-16 .comment, .comment-depth-17 .comment,
.comment-depth-18 .comment, .comment-depth-19 .comment,
.comment-depth-20 .comment, .comment-depth-21 .comment{
	margin-left: 20px;
}

/* Content, навигация по страницам внизу */

#navi_bottom ul, #navi_bottom li, #navi_bottom a, #navi_bottom span {
	background: white;
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	text-transform: none;
	text-indent: 0px;
	font-variant: normal;
	text-align: left;
	line-height: 12px;
	letter-spacing: 0px;
	word-spacing: 0px;
	font-size: 11px;
	font-family: Arial;
}

#navi_bottom {
	margin-top: 10px;
	width: 100%;
	background: white;
	clear:both;
	display:block;
}

#navi_bottom ul {
	width: 100%;
}

#navi_bottom li {
	float: left;
	display: block;
}

#navi_bottom a, #navi_bottom span {
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 2px;
	margin-right: 2px;
	display: block;
	color: #333;
	border: 1px solid #bfbfbf;
}

#navi_bottom li a:hover, #navi_bottom li span:hover {
	border-color: #ff8000;
}

#navi_bottom li.space {
	padding: 6px;
	padding-left: 2px;
	padding-right: 2px;
}

#navi_bottom li.first_last_page {
	font-style: italic;
}

#navi_bottom li.active_page a {
	border-color: #46daff;
}

#navi_bottom li.active_page a:hover  {
	color: black; /* IE fix */
	text-decoration: underline;
	border-color: #ff8000;
}

#navi_bottom li.page_info {
	float: left;
	display: block;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 2px;
	color: #666;
	font-size: 11px;
	border: 1px solid #bfbfbf;
}

#navi_bottom div {
	float: none;
	clear: both;
}

/* Content, стол заказов */

ol.orders_list {
	list-style: decimal outside;
	line-height: 150%;
}

/* Content, архив */


.archive_navi ul {
	margin: 0;
	padding-left: 25px;
}

.archive_navi li {
	list-style: none;
}

/* Content, Booru */

.art_body {
	display: table-cell;
}

.thumbnail {
  display: inline-block;
  float: left;
  text-align: center;
  position: relative;
}

.large_thumbnail {
	width: 260px;
	height: 260px;
}

.small_thumbnail {
	width: 180px;
	height: 180px;
}

.large_extractor_thumbnail {
	width: 260px;
	height: 300px;
}

.small_extractor_thumbnail {
	width: 180px;
	height: 220px;
}

.booru_main {
  text-align: center;
}

.art-bar {
	text-align: left;
	padding-left: 5px;
}

.booru_img {
	background: url('/images/background.gif') repeat;
}

.art_translation {
	position: absolute;
	opacity: 0.5;
	background: none repeat scroll 0 0 #EEEEFF;
	border: 1px solid #000000;
	cursor: pointer;
}

.art_translation_active {
	position: absolute;
	opacity: 0.9;
	background: none repeat scroll 0 0 #EEEEFF;
	border: 1px solid #000000;
	cursor: move;
	text-align: right;
}

span.question, span.inactive_question {
	margin-right: 5px;
	margin-left: 5px;
}

span.question a {
	text-decoration: none;
}
span.question a:hover {
	text-decoration: underline;
}

span.inactive_question a {
	color: #CCCCCC;
}

span.inactive_question a:hover {
	color: #42A3B9;
}

.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

.edit_switch {
	position: absolute;
	cursor: pointer;
}

.edit_translation {
	position: absolute;
}

.image {
	display: table;
	display: inline-block;
	position: relative;
}

.art_not_showed {
	font-size: 90%;
	text-align: left;
	height: 100%;
}

.cg_name {
	font-weight: bold;
}

.art_sign {
	position: absolute;
	top: 2px;
	right: 5px;
}

.art_sign2 {
	position: absolute;
	top: 21px;
	right: 5px;
}

.loading_variation {
	margin-left: 30px;
	padding: 0px;
	display: inline;
	overflow: hidden;
	height: 0px;
}

.art_vote_wrapper {
	padding: 0px;
	text-align: center;
	margin: 0px !important;
}

.art_vote_wrapper img.vote_up {
	margin: 0 2px 0 5px;
	cursor: pointer;
}

.art_vote_wrapper img.vote_down {
	margin: 0 5px 0 2px;
	cursor: pointer;
}

.art_vote_wrapper span {
	color: #666666;
	font-weight: bold;
}

.art_vote_wrapper .inactive_vote {
	opacity: 0.5;
	cursor: auto !important;
}

/* Content, борда */

div.thread { display: block; padding: 5px 0 10px 0; clear: both; border-top: 1px solid #ddd; margin-top: 15px; }
div.thread > span {
	float: left;
	display: block;
	padding: 0 10px 0 10px;
	border-left: 1px solid #ddd;
}
div.thread span.author { font-weight: bold; color: #42A3B9; padding: 0 10px 0 0; border-left: 0; }
div.thread span.number, div.thread span.number a { color: #bbb; text-decoration: none; }
div.message span.number a.number_link:hover { color: #42A3B9; }
div.thread span.link_right, div.thread span.link_last, div.thread span.link_delete { float: right; }
div.thread span.link_last { padding: 0 0 0 10px; }
div.thread span.date { color: #bbb; }
div.thread span.trip { color: #C7C500; }
div.thread div.tbody { clear: both; padding: 5px 0; }
div.thread div.tbody img, div.thread div.video{ float: left; padding: 0 10px 10px 0px; }
div.thread div.video { text-align: center; width: 240px; }
div.thread div.posttext { margin: 0; min-width: 300px; }
div.thread .download_thread .variants { display: none; position: absolute; right: 0px; padding: 10px 10px; }
div.thread .download_thread:hover .variants { display: block; line-height: 180%;  border: 1px solid #C7C500; background: #E8E7B7; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

div.message { display: block; padding: 5px; margin: 0 0 5px 0; border: 1px solid #ddd; background: #eee; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: hidden; }
div.message > span {
	float: left;
	display: block;
	padding: 0 10px 0 10px;
	border-left: 1px solid #ddd;
}
div.message span.author { font-weight: bold; color: #42A3B9; padding: 0 10px 0 0; border-left: 0; }
div.message span.number, div.message span.number a { color: #bbb; text-decoration: none; }
div.message span.number a.number_link:hover { color: #42A3B9; }
div.message span.link_last, div.message span.link_delete { float: right; }
div.message span.link_last { padding: 0 0 0 10px; }
div.message span.date { color: #bbb; }
div.message span.trip { color: #C7C500; }
div.message div.tbody { clear: both; padding: 5px 0; }
div.message div.posttext { min-width: 300px; }
div.message div.tbody img, div.message div.video { float: left; padding: 0 10px 10px 0px; }
div.message div.video { text-align: center; width: 240px; }

div.thread .multi div.video_frame {
	border: 1px dashed rgb(204, 204, 204);
}

div.posttext ul, div.posttext ol, div.posttext p { overflow: hidden; }

div.posttext code {
	font-size: 120%;
}

div.thread .board_image_thumb, div.message .board_image_thumb {
	float: left;
}

div.thread .multi .video, div.thread .multi .board_image_thumb, div.thread .multi .board_flash,
div.message .multi .video, div.message .multi .board_image_thumb, div.message .multi .board_flash,
div.thread .multi_download a, div.message .multi_download a {
	height: 180px;
	display: inline-block;
	padding: 0px;
	margin: 0 5px 10px 5px;
}

span.number a.actual {
	color: #999 !important;
}

span.number a.actual:hover {
	color: #42A3B9 !important;
	text-decoration: underline;
}

span.board_spoiler {
	background: none repeat scroll 0 0 #CCCCCC;
	color: #CCCCCC;
	float: none !important;
	display: inline !important;
	padding: 0 !important;
}
span.board_spoiler:hover {
	background: none repeat scroll 0 0 #DDDDDD;
	color: #000000;
}
span.board_quote {
	padding: 0 10px 0 10px;
	border-left: 1px solid #ddd;
	color: #789922;
}

div.skipped { padding: 5px; margin: 0 0 5px 0; border: 1px solid #C7C500; background: #E8E7B7;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: hidden; }
div.skipped a.readmore { float: right; }

.random_select_container {
	margin-top: 80px;
	width: 100%;
	display: block;
}

.art_random {
	position: relative;
}

.art_random .dice {
	float: none;
	padding: none;
	position: absolute;
	top: 3px;
	right: 3px;
}

/* Content, админка */

#darklayer {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

#message {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	height: 25%;
	width: 25%;
	border: 4px solid #525252;
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	top: 37%;
	left: 37%;
}

/* Content, новости */

ul.list {
	padding-left: 0px;
}

ul.list li {
	list-style-type: circle;
	margin-bottom: 3px;
}

/* Content, логи */

#logs .logs-odd {
	background-color: #FFF8E6;
	width: 100%;
}

#logs .logs-odd .logs-time {
	color: #666666;
}

#logs .logs-even .logs-time {
	color: #999999;
}

#logs .logs-nick {
	color: #0000AA;
}

/* Top, Форма добавления */

#addform {
	margin-top: 30px;
}

#addform .fields {
	font-size: 18pt;
	margin: 30px 0;
}

#addform .fields span {
	border-bottom: 1px dashed #ccc;
}

#addform .input {
	background-color: #e6e6e6;
}

input.sign {
	margin-left: 10px;
}

#addform > div {
	height: auto;
	min-height: 100%;
	vertical-align: middle;
}

#addform .inputdata {
	background-color: #efefef;
}

#addform .field_name {
	text-align: right;
	font-weight: bold;
}

#addform td {
	height: 100%;
	padding: 5px;
}

#addform .inputdata td {
	padding: 0px;
}

#addform .textarea {
	margin: 0px;
	width: 100%;
}

#addform .textarea textarea{
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
}

#addform .uploadholder {
	vertical-align: middle;
}

#error {
	text-align: center;
	font-weight: bold;
	color: red;
}

#transparent .image_holder {
	float: left;
	text-align: right;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 2px dashed #B6B6B6;
	margin: 5px 10px;
	position: relative;
}

img.cancel {
	position: absolute;
	right: -9px;
	top: -9px;
	cursor:pointer;
}

img.master_image {
	position: absolute;
	left: -9px;
	top: -9px;
}

.upload_button {
	width: 61px !important;
	height: 26px !important;
	background-image: url('/images/upload_button.png');
}

.post_images div {
	width: 200px;
	height: 150px !important;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	border: 2px dashed #B6B6B6;
}

.news_images div {
	width: 200px;
	height: 150px !important;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	border: 2px dashed #B6B6B6;
}

.art_images div {
	width: 150px;
	height: 150px !important;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.board_images div {
	width: 240px;
	height: 180px !important;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	float: left;
	margin: 5px 10px;
	border: 2px dashed #B6B6B6;
}

.processing {
	display: none;
}

.processing-file {
	display: none;
}

.processing-image {
	display: none;
}

.bbholder {
	border: 2px solid #AAAAAA;
	margin-top: 3px;
}

img.bb {
	background-color: #EEEEFF;
	border: 1px solid #666;
	margin: 0px !important;
}

.bbholder td {
	padding: 0px !important;
}

#add_tags #chozen {
	width: 100%;
	display: block;
	visibility: hidden;
	height: 0px;
}

#add_tags #chozen_chzn {
	margin: 0;
}

#add_tags .tags-loader{
	text-align: center;
}

#add_tags .tags-loader img{
	margin: 0 auto;
	clear: both;
	text-align: center;
}

/* Sidebar */

#sidebar h2 {
	font-weight: normal;
	font-size: 18pt;
	margin: 10px 0;
}

div.cats {
	border-top: 1px dashed #ccc;
	margin: 0 0 10px 0;
}

.searchbox .active {
	background-color: #AADDFF;
}

.searchbox, .searchbox td {
	width: 100%;
}

.search-tip-wrapper {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	position: relative;
}

.search-main {
	width: 600px;
	background-color: #FFFFFF;
	position: absolute;
	left: 50%;
	margin-left: -268px;
	opacity: 0.85;
}

.search-main .mini-shell {
	border-width: 2px;
}

#sidebar input.search {
	width: 140px;
}

.searchmain {
	width: 95%;
	height: 18px;
}

#navi_bar select {
	width: 120px;
}

span.href {
	color: #42A3B9;
}

#tag_bar {
	line-height: 19pt;
}

#tag_bar a {
	text-decoration: none;
}

#tag_bar a:hover {
	text-decoration: underline;
}

.settings_child {
	margin-left: 20px;
}

ul.art_tags {
	list-style-type: none;
	padding: 0;
}

ul.art_tags span{
	color: #888888;
}

#quick_bar ul {
	margin: 0;
	padding: 0 15px;
	list-style: none;
}

.add_navi, .remove_navi {
	min-width: 24px;
	margin: 0 0 0 5px;
}

/* Footer */

#footer .right div {
	text-align: center;
	width: 240px;
}

/* github */

#issues .elite_tabs { height: 30px; margin: 10px 0; background: #eee; padding: 0 !important; }
#issues .elite_tabs li { float: left; }
#issues .elite_tabs li a, #issues .elite_tabs li b { border-right: 1px solid  #ccc; display: block; height: 30px; padding: 0 15px; line-height: 30px; text-decoration: none; color: #000; font-weight: normal; }
#issues .elite_tabs li.active a, #issues .elite_tabs li.active b  { background: #ddd; }
#issues .elite_tabs li a:hover { background: #ddd; }
#issues .elite_tabs li.github a { width: 30px; padding:0; text-indent: -2000px; overflow: hidden; background: #ccc url(https://github.com/favicon.ico) no-repeat 50% 50%; }

#issues .issue { clear: both; display: block; margin: 0 0 5px 0; border: 1px solid #ddd; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; min-height: 60px;  }

#issues .issue.open { background: #FFE0E0 url(/images/grad.png) 0% 0% repeat-x; }
#issues .issue.closed { background: #E0FFE6 url(/images/grad.png) 0% 0% repeat-x; }

#issues .issue .id { float: left; width: 60px;  padding-top: 15px; overflow: hidden;  text-align: center; color: #000;  }
#issues .issue .id a { text-decoration: none; color: #000; font-size: 18px; }
#issues .issue .id a span { font-size: 11px; color: #666; }
#issues .issue .inner { background: #fff url(/images/grad.png) 0% 0% repeat-x; border-left: 1px solid #ddd;  position: relative; margin-left: 60px; overflow: hidden; min-height: 35px; padding: 0 10px 30px 10px; }
#issues .issue .inner h2 { line-height: inherit !important; margin: 2px 0; padding: 0; }
#issues .issue .inner h2 a { font-size: 13px; color: #000; text-decoration: underline;  }

#issues .issue .inner p { position: absolute; bottom: 0; margin: 0 0 5px 0; padding: 0; right: 0; left: 10px; }

#issues .issue .inner span { margin: 0 20px 0 0 ; padding: 0 0 0 14px; color: #666; text-decoration: none; font-size: 11px; }
#issues .issue .inner span a { color: #666; text-decoration: none; font-size: 11px; margin: 0; padding: 0; }
#issues .issue .more, #issues .issue .comments { float: right;  margin: 0 10px 0 10px !important ; }

#issues .more { background: url(/images/icons/external.gif) 0% 50% no-repeat; }
#issues .comments { background: url(/images/icons/speech_bubble.gif) 0% 50% no-repeat; }
#issues .from { background: url(/images/icons/figure.gif) 0% 50% no-repeat; }
#issues .created { background: url(/images/icons/permalink.gif) 0% 50% no-repeat; }
#issues .labels { background: url(/images/icons/documents.gif) 0% 50% no-repeat; }

#issues .elite_pager { margin: 0 !important; padding: 0 !important; height: 30px; }
#issues .elite_pager li { float: left; }
#issues .elite_pager li a { color: #000; text-decoration: none; display: block; padding: 2px 5px; border: 1px solid #bbb; background: #eee; margin: 0 2px 0 0; }
#issues .elite_pager li b { color: #000; text-decoration: none; display: block; padding: 2px 5px; border: 1px solid #bbb; background: #fff; margin: 0 2px 0 0; }

#issues .cloud_tag { display: inline; text-decoration: none; }
#issues .cloud_tag span { font-size: 9px; vertical-align: top; }

#issues h2, #issues p.info { margin: 0 0 5px 0 !important; }
#issues h2 span { color: #777; }
#issues p.info span { margin: 0 20px 0 0 ; padding: 0 0 0 14px; color: #666; text-decoration: none; font-size: 11px; }

#issues p.info span.more, #issues p.info span.comments { float: right;  margin: 0 10px 0 10px !important ; }

#issues p.info span a { color: #666; text-decoration: none; font-size: 11px; margin: 0; padding: 0; }
#issues .content { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 10px 0; }

#issues .comment { padding: 5px; clear: both; display: block; margin: 0 0 5px 0; border: 1px solid #ddd; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }


#issues pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
