{% extends "html/base.html" %}

{% block content %}
	<td valign="top" id="sidebar">
		{% include 'html/common/sidebar.html' %}
	</td>
	<td valign="top" id="content">
		{% if sub.description.template %}
			{% include ['html/description/',sub.description.template,'.html']|join %}
		{% endif %}
		{% if sub.login is not none %}
			{% include 'html/common/login.html' %}
		{% endif %}	
		<div class="post">
			{% for id, item in items %}
				{% include ['html/item/',item.item_type,'.html']|join %}
			{% endfor %}
		</div>
		{% if sub.comments is not none %}
			{% include 'html/common/comments.html' %}
		{% endif %}	
	</td>
{% endblock %}
