{% extends "html/base.html" %}

{% block header %}
	{% if sub.header %}
		{% include 'html/common/header.html' %}
	{% endif %}
	<div class="branding margin20"> 
		<a href="http://4otaku.ru" class="logo">
			<img src="/i/4otakulogos.gif" alt="4отаку" />
		</a> 
		<img class="right" src="/i/yukari120.gif" alt="Юкарин" /> 
		<div class="mainsearch"> 
			<div class="center margin10"><input size="50" class="search" type="text"> <input value="искать" class="searchb" type="button"></div> 
			<div id="search-tip" class="center search-main" rel="0"></div> 
			<div class="center margin10"> 
				<input id="search_p" checked="checked" value="p" class="searcharea" type="checkbox"><label for="search_p">В записях</label> 
				<input id="search_v" checked="checked" value="v" class="searcharea" type="checkbox"><label for="search_v">В видео</label> 
				<input id="search_a" value="a" class="searcharea" type="checkbox"><label for="search_a">В артах</label> 
				<input id="search_n" value="n" class="searcharea" type="checkbox"><label for="search_n">В новостях</label> 
				<input id="search_o" checked="checked" value="o" class="searcharea" type="checkbox"><label for="search_o">В столе заказов</label> 
				<input id="search_c" value="c" class="searcharea" type="checkbox"><label for="search_c">В комментариях</label> 
			</div> 
		</div> 
	</div> 
{% endblock %}

{% block content %}
	<td class="index_leftholder" valign="top">
		{% for name, block in items %}
			{% if block.settings.align == 'left' %}
				<div class="cats">	
					{% if block.settings.header %}
					<h2>
						<a href="{{part.url|default('#')}}">
							{{block.settings.header}}
						</a>
						 <a href="#" class="bar_arrow" rel="{{name}}">
							<img src="/i/text2391.png">
						</a>
					</h2>
					{% endif %}
					<div id="{{name}}_bar">
						{% include ['html/index/',name,'.html']|join %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</td>
	<td class="index_rightholder" valign="top">
		{% for name, block in items %}
			{% if block.settings.align == 'right' %}
				<div class="cats">	
					{% if block.settings.header %}
					<h2>
						<a href="{{part.url|default('#')}}">
							{{block.settings.header}}
						</a>
						 <a href="#" class="bar_arrow" rel="{{name}}">
							<img src="/i/text2391.png">
						</a>
					</h2>
					{% endif %}
					<div id="{{name}}_bar">
						{% include ['html/index/',name,'.html']|join %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</td>
	<!--
		<div class="mini-shell margin10">
			Наша комната в джаббере: main@room.4otaku.ru; 
			<a href="http://jabberworld.info/%D0%9A%D0%BB%D0%B8%D0%B5%D0%BD%D1%82%D1%8B_Jabber">
				Помощь по настройке
			</a>. 
			<a href="/logs/">
				Логи
			</a>. 
			<span class="right">
				{{items.broken_links|default(0)}} битых ссылок. 
				<a href="/gouf/">
					Помочь
				</a>.
			</span>
		</div>
		<div class="mini-shell margin10">
			<a href="/board/">
				Борда сайта
			</a>. 
			Всего тредов: {{items.board.all|default(0)}}
			{% if items.board.new %}
				, <a href="/board/new/{{board.link}}">
					{{items.board.new}} из них новых
				</a>
			{% endif %}
			{% if items.board.updated %}
				, <a href="/board/updated/{{board.link}}">
					{{items.board.updated}} обновилось
				</a>
			{% endif %}
			.
			<span class="right">
				{% if items.wiki %}
					<a href="http://wiki.4otaku.ru">
						Вики сайта
					</a>. 
					Последняя правка: 
					<a href="http://wiki.4otaku.ru/{{wiki|url_encode}}">
						{{items.wiki}}
					</a>.
				{% endif %}
			</span>
		</div>
		{% if items.news.title %}
			<div class="compressed_news mini-shell clear {% if not flag.news.read %}hidden{% endif %} margin30">
				<a href="/news/{{items.news.url}}/">
					{{items.news.title}}
				</a>
				{% if news.comments %} ({{items.news.comments}}){% endif %}
				<a href="#" class="uncompress_news togglenews news_bar">
					Развернуть новость.
				</a>
				<a href="/news/" class="news_bar">
					Архив новостей.
				</a>
			</div>
		{% endif %}
		<div class="left index_smallcolumn defaultvideoholder">
			<div class="mainblock">
				<p class="head">
					<a href="/post/">
						Записи
					</a>
				</p>
				Всего {{items.post.total|default(0)}} записей. 
				{% if items.post.new %}{{items.post.new}} из них новых{% endif %}
				{% if items.post.latest %}
					Последние записи: <br /><br />
					{% for key, one in items.post.latest %}
						{% if not loop.first %}<br />{% endif %}
						<a href="/post/{{one.id}}" class="with_help" title="{{one.headline}}">
							{{one.title}}
						</a>
						{% if one.comments %} ({{one.comments}}){% endif %}
					{% endfor %}
				{% endif %}
			</div>
			{% if not flag.news.read %}
				<div class="mainblock videoblock">
					<p class="head">
						<a href="/video/">
							Видео
						</a>
					</p>
					Всего {{items.video.total|default(0)}} видео. 
					{% if items.video.new %}{{items.video.new}} из них новых{% endif %}
					{% if items.video.latest %}
						Последние записи: <br /><br />
						{% for key, one in items.video.latest %}
							{% if not loop.first %}<br />{% endif %}
							<a href="/video/{{one.id}}" class="with_help" title="{{one.headline}}">
								{{one.title}}
							</a>
							{% if one.comments %} ({{one.comments}}){% endif %}
						{% endfor %}
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="left index_smallcolumn {% if flag.news.read %}hidden{% endif %} videoholder">
			{% if flag.news.read %}
				<div class="mainblock videoblock">
					<p class="head">
						<a href="/video/">
							Видео
						</a>
					</p>
					Всего {{items.video.total|default(0)}} видео. 
					{% if items.video.new %}{{items.video.new}} из них новых{% endif %}
					{% if items.video.latest %}
						Последние записи: <br /><br />
						{% for key, one in items.video.latest %}
							{% if not loop.first %}<br />{% endif %}
							<a href="/video/{{one.id}}" class="with_help" title="{{one.headline}}">
								{{one.title}}
							</a>
							{% if one.comments %} ({{one.comments}}){% endif %}
						{% endfor %}
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="left index_smallcolumn {% if not flag.news.read %}hidden{% endif %} artholder">
			{% if flag.news.read %}
				<div class="mainblock artblock">
					<p class="head">
						<a href="/art/">
							Арт
						</a>
					</p>
					Всего {{items.art.total|default(0)}} артов. 
					{% if items.art.new %}{{items.art.new}} из них новых{% endif %}
					{% if items.art.latest.thumbnail %}
						Последнее изображение: <br /><br />
						<div style="text-align:center; width: 100%;">
							<a href="/art/{{items.art.latest.id}}">
								<img src="{{domain}}/images/art/thumbnail/{{items.art.latest.thumbnail}}.jpg">
							</a>
						</div>
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="left index_smallcolumn defaultartholder">
			<div class="mainblock">
				<p class="head">
					<a href="/order/">
						Заказы
					</a>
				</p>
				Всего {{items.order.total|default(0)}} заказов. 
				{% if items.order.new %}{{items.order.new}} из них открыты{% endif %}
				{% if items.order.latest %}
					Последние заказы: <br /><br />
					{% for key, one in items.order.latest %}
						{% if not loop.first %}<br /><br />{% endif %}
						{{one.username}} заказал 
						<a href="/video/{{one.id}}" class="with_help" title="{{one.headline}}">
							{{one.title}}
						</a>
						{% if one.comments %} ({{one.comments}}){% endif %}
					{% endfor %}
				{% endif %}
			</div>
			{% if not flag.news.read %}
				<div class="mainblock artblock">
					<p class="head">
						<a href="/art/">
							Арт
						</a>
					</p>
					Всего {{items.art.total|default(0)}} артов. 
					{% if items.art.new %}{{items.art.new}} из них новых{% endif %}
					{% if items.art.latest.thumbnail %}
						Последнее изображение: <br /><br />
						<div style="text-align:center; width: 100%;">
							<a href="/art/{{items.art.latest.id}}">
								<img src="{{domain}}/images/art/thumbnail/{{items.art.latest.thumbnail}}.jpg">
							</a>
						</div>
					{% endif %}
				</div>
			{% endif %}
		</div>
		{% if items.news.title %}
			<div class="left {% if flag.news.read %}hidden{% endif %} index_largecolumn">
				<div class="post mainblock">
					<p class="head">
						<a href="/news/{{items.news.url}}/">
							{{news.title}}
						</a>
					</p>
					<div class="entry">
						<a href="/images/news/full/{{items.news.image}}" target="_blank">
							<img src="{{domain}}/images/news/thumbnail/{{items.news.image}}" align="left" class="news_image" />
						</a>
						{{items.news.text}}
					</div>
					<span class="semi_large">
						<a href="/news/{{items.news.url}}/">
							Комментировать
						</a>.
						{% if items.news.comments %} ({{items.news.comments}}){% endif %}
						<a href="#" class="right compress_news togglenews">
							Я прочел, уберите новость.
						</a>
					</span>
					<div class="center clear">
						<a href="/news/">
							Архив новостей.
						</a>
					</div>
				</div>
			</div>
		{% endif %}
	</td> -->
{% endblock %}
