{% extends "html/base.html" %}

{% block header %}
	<tr>
		<td align="center" class="index_topholder">
			<div class="center margin10">
				<a href="/">
					<img src="/i/4otakulogo.png" alt="4отаку. Материалы для отаку." style="margin-bottom: 15px;">
				</a>
			</div>
			<div class="center margin20">
			<a title="Dreams of Dead HQ" href="http://dod.4otaku.ru" class="with_help">
				<img src="/i/buttons/dod.png">
			</a>
			<a title="Yukarin Subs" href="http://yukarinsubs.4otaku.ru" class="with_help">
				<img src="/i/buttons/ys.png">
			</a>
			<a title="Архив" href="/archive/" class="with_help">
				<img src="/i/buttons/arch.png">
			</a>
			<a title="Кикаки: додзинси и ёнкомы" href="http://raincat.4otaku.ru" class="with_help">
				<img src="/i/buttons/ki.png">
			</a>
			<a title="Частые вопросы по сайту" href="http://wiki.4otaku.ru/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D1%8F:FAQ" class="with_help">
				<img src="/i/buttons/faq.png">
			</a>
			<a title="Что такое теория относительности?" href="http://comics.4otaku.ru" class="with_help">
				<img src="/i/buttons/chtto.png">
			</a>
			</div>
			<div class="center margin10">
				<input type="text" size="50" class="search"> <input type="button" value="искать" class="searchb">
			</div>
			<div id="search-tip" class="center search-main" rel="0"></div>
			<div class="center margin10">
				<input type="checkbox" checked="checked" value="p" class="searcharea"> В записях
				<input type="checkbox" checked="checked" value="v" class="searcharea"> В видео
				<input type="checkbox" value="a" class="searcharea"> В артах
				<input type="checkbox" value="n" class="searcharea"> В новостях
				<input type="checkbox" checked="checked" value="o" class="searcharea"> В столе заказов
				<input type="checkbox" value="c" class="searcharea"> В комментариях
			</div>
			<div class="yukari_corner">
				<div class="margin10">
					<a href="/">
						<img src="/i/yukari.gif" class="right">
					</a>
				</div>
			</div>
			<div class="rss_corner">
				<div class="right">
					<a href="/go?http%3A%2F%2Ffeeds.feedburner.com%2F4otaku" title="RSS материалов">
						<img align="middle" src="/i/feed_80x80.png" alt="RSS материалов" />
					</a>
				</div>
				<div class="margin10 box first_index_box">
					<a href="/ajax.php?m=box&f=rss&width=600&height=240" title="Выберите, что показывать вам в RSS" class="thickbox">
						Выберите свой RSS
					</a>
				</div>
				<div class="margin10 box">
					<a href="/ajax.php?m=box&f=settings&width=500&height=650" title="Ваши личные настройки" class="thickbox">
						Настройки
					</a>
				</div>
			</div>
		</td>
	</tr>
{% endblock %}

{% block content %}
	<td class="index_centerholder" valign="top">
		<div class="mini-shell margin10">
			Наша комната в джаббере: main@room.4otaku.ru; 
			<a href="http://jabberworld.info/%D0%9A%D0%BB%D0%B8%D0%B5%D0%BD%D1%82%D1%8B_Jabber">
				Помощь по настройке
			</a>. 
			<a href="/logs/">
				Логи
			</a>. 
			<span class="right">
				{{items.broken_links|default(0)}} битых ссылок. 
				<a href="/gouf/">
					Помочь
				</a>.
			</span>
		</div>
		<div class="mini-shell margin10">
			<a href="/board/">
				Борда сайта
			</a>. 
			Всего тредов: {{items.board.all|default(0)}}
			{% if items.board.new %}
				, <a href="/board/new/{{board.link}}">
					{{items.board.new}} из них новых
				</a>
			{% endif %}
			{% if items.board.updated %}
				, <a href="/board/updated/{{board.link}}">
					{{items.board.updated}} обновилось
				</a>
			{% endif %}
			.
			<span class="right">
				{% if items.wiki %}
					<a href="http://wiki.4otaku.ru">
						Вики сайта
					</a>. 
					Последняя правка: 
					<a href="http://wiki.4otaku.ru/{{wiki|url_encode}}">
						{{items.wiki}}
					</a>.
				{% endif %}
			</span>
		</div>
		{% if items.news.title %}
			<div class="compressed_news mini-shell clear {% if not flag.news.read %}hidden{% endif %} margin30">
				<a href="/news/{{items.news.url}}/">
					{{items.news.title}}
				</a>
				{% if news.comments %} ({{items.news.comments}}){% endif %}
				<a href="#" class="uncompress_news togglenews news_bar">
					Развернуть новость.
				</a>
				<a href="/news/" class="news_bar">
					Архив новостей.
				</a>
			</div>
		{% endif %}
		<div class="left index_smallcolumn defaultvideoholder">
			<div class="mainblock">
				<p class="head">
					<a href="/post/">
						Записи
					</a>
				</p>
				Всего {{items.post.total|default(0)}} записей. 
				{% if items.post.new %}{{items.post.new}} из них новых{% endif %}
				{% if items.post.latest %}
					Последние записи: <br /><br />
					{% for key, one in items.post.latest %}
						{% if not loop.first %}<br />{% endif %}
						<a href="/post/{{one.id}}" class="with_help" title="{{one.headline}}">
							{{one.title}}
						</a>
						{% if one.comments %} ({{one.comments}}){% endif %}
					{% endfor %}
				{% endif %}
			</div>
			{% if not flag.news.read %}
				<div class="mainblock videoblock">
					<p class="head">
						<a href="/video/">
							Видео
						</a>
					</p>
					Всего {{items.video.total|default(0)}} видео. 
					{% if items.video.new %}{{items.video.new}} из них новых{% endif %}
					{% if items.video.latest %}
						Последние записи: <br /><br />
						{% for key, one in items.video.latest %}
							{% if not loop.first %}<br />{% endif %}
							<a href="/video/{{one.id}}" class="with_help" title="{{one.headline}}">
								{{one.title}}
							</a>
							{% if one.comments %} ({{one.comments}}){% endif %}
						{% endfor %}
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="left index_smallcolumn {% if flag.news.read %}hidden{% endif %} videoholder">
			{% if flag.news.read %}
				<div class="mainblock videoblock">
					<p class="head">
						<a href="/video/">
							Видео
						</a>
					</p>
					Всего {{items.video.total|default(0)}} видео. 
					{% if items.video.new %}{{items.video.new}} из них новых{% endif %}
					{% if items.video.latest %}
						Последние записи: <br /><br />
						{% for key, one in items.video.latest %}
							{% if not loop.first %}<br />{% endif %}
							<a href="/video/{{one.id}}" class="with_help" title="{{one.headline}}">
								{{one.title}}
							</a>
							{% if one.comments %} ({{one.comments}}){% endif %}
						{% endfor %}
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="left index_smallcolumn {% if not flag.news.read %}hidden{% endif %} artholder">
			{% if flag.news.read %}
				<div class="mainblock artblock">
					<p class="head">
						<a href="/art/">
							Арт
						</a>
					</p>
					Всего {{items.art.total|default(0)}} артов. 
					{% if items.art.new %}{{items.art.new}} из них новых{% endif %}
					{% if items.art.latest.thumbnail %}
						Последнее изображение: <br /><br />
						<div style="text-align:center; width: 100%;">
							<a href="/art/{{items.art.latest.id}}">
								<img src="{{domain}}/images/art/thumbnail/{{items.art.latest.thumbnail}}.jpg">
							</a>
						</div>
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="left index_smallcolumn defaultartholder">
			<div class="mainblock">
				<p class="head">
					<a href="/order/">
						Заказы
					</a>
				</p>
				Всего {{items.order.total|default(0)}} заказов. 
				{% if items.order.new %}{{items.order.new}} из них открыты{% endif %}
				{% if items.order.latest %}
					Последние заказы: <br /><br />
					{% for key, one in items.order.latest %}
						{% if not loop.first %}<br /><br />{% endif %}
						{{one.username}} заказал 
						<a href="/video/{{one.id}}" class="with_help" title="{{one.headline}}">
							{{one.title}}
						</a>
						{% if one.comments %} ({{one.comments}}){% endif %}
					{% endfor %}
				{% endif %}
			</div>
			{% if not flag.news.read %}
				<div class="mainblock artblock">
					<p class="head">
						<a href="/art/">
							Арт
						</a>
					</p>
					Всего {{items.art.total|default(0)}} артов. 
					{% if items.art.new %}{{items.art.new}} из них новых{% endif %}
					{% if items.art.latest.thumbnail %}
						Последнее изображение: <br /><br />
						<div style="text-align:center; width: 100%;">
							<a href="/art/{{items.art.latest.id}}">
								<img src="{{domain}}/images/art/thumbnail/{{items.art.latest.thumbnail}}.jpg">
							</a>
						</div>
					{% endif %}
				</div>
			{% endif %}
		</div>
		{% if items.news.title %}
			<div class="left {% if flag.news.read %}hidden{% endif %} index_largecolumn">
				<div class="post mainblock">
					<p class="head">
						<a href="/news/{{items.news.url}}/">
							{{news.title}}
						</a>
					</p>
					<div class="entry">
						<a href="/images/news/full/{{items.news.image}}" target="_blank">
							<img src="{{domain}}/images/news/thumbnail/{{items.news.image}}" align="left" class="news_image" />
						</a>
						{{items.news.text}}
					</div>
					<span class="semi_large">
						<a href="/news/{{items.news.url}}/">
							Комментировать
						</a>.
						{% if items.news.comments %} ({{items.news.comments}}){% endif %}
						<a href="#" class="right compress_news togglenews">
							Я прочел, уберите новость.
						</a>
					</span>
					<div class="center clear">
						<a href="/news/">
							Архив новостей.
						</a>
					</div>
				</div>
			</div>
		{% endif %}
	</td>
{% endblock %}
