<tr>				
	<td colspan="2">
		<ul id="header">
			{% for url, part in sub.header %}
				<li><a href="{{url}}">{{part.title}}</a>
					<ul>
						{% for url, title in part.items %}
							<li><a href="{{url}}">{{title}}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
		<div id="hline"></div>
	</td>
</tr>

<!--
		<table width="100%">
			<tr>
				<td>
					<div id="logo">
						<a href="/"><img src="/i/4otakulogos.gif" alt="4otaku" /></a>
					</div>
				</td>
				
				<td>
					<div id="top_buttons">

					</div>
				</td>
					
				<td>
					<div id="rss" align="center">
						<div class="right">		
							<a href="/go?http%3A%2F%2Ffeeds.feedburner.com%2F4otaku" title="RSS записей">
								<img align="middle" src="/i/feed_80x80.png" alt="RSS записей" />
							</a>
						</div>		
						<div class="margin10 box first_box">
							<a href="/go?http%3A%2F%2Fwiki.4otaku.ru%2F%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D1%8F:FAQ" title="Частые вопросы по сайту">
								Частые вопросы
							</a>
						</div>
						<div class="margin10 box">
							<a href="/ajax.php?m=box&f=rss&width=600&height=240" title="Выберите, что показывать вам в RSS" class="thickbox">
								Выберите свой RSS
							</a>
						</div>
						<div class="margin10 box">
							<a href="/ajax.php?m=box&f=settings&width=500&height=650" title="Ваши личные настройки" class="thickbox">
								Настройки
							</a>
						</div>
					</div>
				</td>
			</tr>
		</table>
-->
