<tr>				
	<td colspan="2">
		<div class="header_menu">
			<ul>
				{% for url, part in sub.header %}
					<li class="header_menu_item_{{loop.index0 % 10}}">
						<a href="{{url}}" title="{{part.title}}">
							<em></em>
							<b>{{part.title}}</b>
							<em></em>
						</a>
						{% if part.items %}
							<ul>
								{% for url, name in part.items %}
								<li>
									<a href="{{url}}" title="{{name}}">
										{{name}}
									</a>
								</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div id="hline"></div>
	</td>
</tr>
