<div class="mainblock">
	<p class="head">
		<a href="/post/">
			Записи
		</a>
	</p>
	Всего {{items.post.total|default(0)}} записей. 
	{% if items.post.new %}{{items.post.new}} из них новых{% endif %}
	{% if block.items %}
		Последние записи: <br /><br />
		{% for key, one in block.items %}
			{% if not loop.first %}<br />{% endif %}
			<a href="/post/{{one.id}}" class="with_help" title="{{one.headline}}">
				{{one.title}}
			</a>
			{% if one.comments %} ({{one.comments}}){% endif %}
		{% endfor %}
	{% endif %}
</div>
