<table width="100%">
	<tr>
		<td>
			<input value="" class="search" type="text" rel="">
		</td>
		<td>
			<input value="Поиск" class="searchb" type="button">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="#" class="disabled search-options">
				Показать опции поиска.
			</a>
			<div class="hidden">
				<ul>
					<li>
						<input type="checkbox" value="p" class="searcharea not_checked'">
						 В записях
					</li>
					<li>
						<input type="checkbox" value="v" class="searcharea not_checked'">
						 В видео
					</li>
					<li>
						<input type="checkbox" value="a" class="searcharea not_checked'">
						 В артах
					</li>
					<li>
						<input type="checkbox" value="n" class="searcharea not_checked'">
						 В новостях
					</li>
					<li>
						<input type="checkbox" value="c" class="searcharea not_checked'">
						 В комментариях
					</li>
				</ul>				
			</div>
		</td>		
	</tr>
	<tr>
		<td colspan="2">
			<div id="search-tip" rel="0"></div>
		</td>
	</tr>
</table>
