#addform {
	margin-top: 30px;
}

#addform .fields {
	font-size: 18pt;
}

#addform .fields span {
	border-bottom: 1px dashed #ccc;
}

#addform .input {
	background-color: #e6e6e6;
}

input.sign {
	margin-left: 10px;
}

#addform div {
    height: auto;
    min-height: 100%;
	vertical-align: middle;
}

#addform .inputdata {
	background-color: #efefef;
}

#addform .field_name {
	text-align: right;
	font-weight: bold;
}

#addform td {
	height: 100%;
	padding: 5px;
}

#addform .uploadholder {
	vertical-align: middle;
}

#error {
	text-align: center;
	font-weight: bold;
	color: red;
}

#transparent div {
	float:left;
	text-align: right;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 2px dashed #B6B6B6;
	margin: 5px 10px;
}

.upload_button {
	width: 61px !important;
	height: 26px !important;
	background-image: url('/templates/images/upload_button.png');
}

.post_images div {
	width: 200px;
	height: 150px !important;
}

.art_images div {
	width: 150px;
	height: 150px !important;
}

.board_images div {
	width: 240px;
	height: 180px !important;
}

.processing {
	display: none;
}

.processing-file {
	display: none;
}

.processing-image {
	display: none;
}

.bbholder {
	border: 2px solid #666;
	margin-top: 3px;
}

img.bb {
	background-color: #EEEEFF;
	border: 1px solid #666;
	margin: 0px !important;
}

.bbholder td {
	padding: 0px !important;
}
