{% extends "web/base.html" %}

{% block header %}
	<td align="center" class="index_topholder">
		<div class="center margin10">
			<a href="{{domain}}/">
				<img src="/i/4otakulogo.png" alt="4отаку. Материалы для отаку." style="margin-bottom: 15px;">
			</a>
		</div>
		<div class="center margin20">
		<a title="Dreams of Dead HQ" href="http://dod.4otaku.ru" class="with_help">
			<img src="/i/buttons/dod.png">
		</a>
		<a title="Yukarin Subs" href="http://yukarinsubs.4otaku.ru" class="with_help">
			<img src="/i/buttons/ys.png">
		</a>
		<a title="Архив" href="{{domain}}/archive/" class="with_help">
			<img src="/i/buttons/arch.png">
		</a>
		<a title="Кикаки: додзинси и ёнкомы" href="http://raincat.4otaku.ru" class="with_help">
			<img src="/i/buttons/ki.png">
		</a>
		<a title="Частые вопросы по сайту" href="http://wiki.4otaku.ru/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D1%8F:FAQ" class="with_help">
			<img src="/i/buttons/faq.png">
		</a>
		<a title="Что такое теория относительности?" href="http://comics.4otaku.ru" class="with_help">
			<img src="/i/buttons/chtto.png">
		</a>
		</div>
		<div class="center margin10">
			<input type="text" size="50" class="search"> <input type="button" value="искать" class="searchb">
		</div>
		<div id="search-tip" class="center search-main" rel="0"></div>
		<div class="center margin10">
			<input type="checkbox" checked="checked" value="p" class="searcharea"> В записях
			<input type="checkbox" checked="checked" value="v" class="searcharea"> В видео
			<input type="checkbox" value="a" class="searcharea"> В артах
			<input type="checkbox" value="n" class="searcharea"> В новостях
			<input type="checkbox" checked="checked" value="o" class="searcharea"> В столе заказов
			<input type="checkbox" value="c" class="searcharea"> В комментариях
		</div>
		<div class="yukari_corner">
			<div class="margin10">
				<a href="{{domain}}/">
					<img src="/i/yukari.gif" class="right">
				</a>
			</div>
		</div>
		<div class="rss_corner">
			<div class="right">
				<a href="/go?http%3A%2F%2Ffeeds.feedburner.com%2F4otaku" title="RSS материалов">
					<img align="middle" src="/i/feed_80x80.png" alt="RSS материалов" />
				</a>
			</div>
			<div class="margin10 box first_index_box">
				<a href="{{domain}}/ajax.php?m=box&f=rss&width=600&height=240" title="Выберите, что показывать вам в RSS" class="thickbox">
					Выберите свой RSS
				</a>
			</div>
			<div class="margin10 box">
				<a href="{{domain}}/ajax.php?m=box&f=settings&width=500&height=650" title="Ваши личные настройки" class="thickbox">
					Настройки
				</a>
			</div>
		</div>
	</td>
{% endblock %}

{% block content %}
	<td class="index_centerholder" valign="top">
		<div class="mini-shell margin10">
			Наша комната в джаббере: main@room.4otaku.ru;
			<a href="http://jabberworld.info/%D0%9A%D0%BB%D0%B8%D0%B5%D0%BD%D1%82%D1%8B_Jabber">
				Помощь по настройке
			</a>.
			<a href="{{domain}}/logs/">
				Логи
			</a>.
			<span class="right">
				{{broken_links}} битых ссылок.
				<a href="{{domain}}/gouf/">
					Помочь
				</a>.
			</span>
		</div>
		<div class="mini-shell margin10">
			<a href="{{domain}}/board/">
				Борда сайта
			</a>.
			Всего тредов: {{board.all}}
			{% if board.new %}
				, <a href="{{domain}}/board/new/{{board.link}}">
					{{board.new}} из них новых
				</a>
			{% endif %}
			{% if board.updated %}
				, <a href="{{domain}}/board/updated/{{board.link}}">
					{{board.updated}} обновилось
				</a>
			{% endif %}
			.
			<span class="right">
				{% if wiki %}
					<a href="http://wiki.4otaku.ru">
						Вики сайта
					</a>.
					Последняя правка:
					<a href="http://wiki.4otaku.ru/{{wiki|url_encode}}">
						{{wiki}}
					</a>.
				{% endif %}
			</span>
		</div>
		{% if news.title %}
			<div class="compressed_news mini-shell clear {% if news.read %}hidden{% endif %} margin30">
				<a href="{{domain}}/news/{{news.url}}/">
					{{news.title}}
				</a>
				{% if news.comments %} ({{news.comments}}){% endif %}
				<a href="#" class="uncompress_news togglenews news_bar">
					Развернуть новость.
				</a>
				<a href="{{domain}}/news/" class="news_bar">
					Архив новостей.
				</a>
			</div>
		{% endif %}
		<div class="left index_smallcolumn defaultvideoholder">
			<div class="mainblock">
				<p class="head">
					<a href="{{domain}}/post/">
						Записи
					</a>
				</p>
				Всего {{post.total}} записей.
				{% if post.new %}{{post.new}} из них новых{% endif %}
				{% if post.latest %}
					Последние записи: <br /><br />
					{% for key, one in post.latest %}
						{% if not loop.first %}<br />{% endif %}
						<a href="{{domain}}/post/{{one.id}}" class="with_help" title="{{one.text}}">
							{{one.title}}
						</a>
						{% if one.comments %} ({{one.comments}}){% endif %}
					{% endfor %}
				{% endif %}
			</div>
			{% if not news.read %}
				<div class="mainblock videoblock">
					<p class="head">
						<a href="{{domain}}/video/">
							Видео
						</a>
					</p>
					Всего {{video.total}} видео.
					{% if video.new %}{{video.new}} из них новых{% endif %}
					{% if video.latest %}
						Последние записи: <br /><br />
						{% for key, one in video.latest %}
							{% if not loop.first %}<br />{% endif %}
							<a href="{{domain}}/video/{{one.id}}" class="with_help" title="{{one.text}}">
								{{one.title}}
							</a>
							{% if one.comments %} ({{one.comments}}){% endif %}
						{% endfor %}
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="left index_smallcolumn {% if news.read %}hidden{% endif %} videoholder">
			{% if news.read %}
				<div class="mainblock videoblock">
					<p class="head">
						<a href="{{domain}}/video/">
							Видео
						</a>
					</p>
					Всего {{video.total}} видео.
					{% if video.new %}{{video.new}} из них новых{% endif %}
					{% if video.latest %}
						Последние записи: <br /><br />
						{% for key, one in video.latest %}
							{% if not loop.first %}<br />{% endif %}
							<a href="{{domain}}/video/{{one.id}}" class="with_help" title="{{one.text}}">
								{{one.title}}
							</a>
							{% if one.comments %} ({{one.comments}}){% endif %}
						{% endfor %}
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="left index_smallcolumn {% if not news.read %}hidden{% endif %} artholder">
			{% if news.read %}
				<div class="mainblock artblock">
					<p class="head">
						<a href="{{domain}}/art/">
							Арт
						</a>
					</p>
					Всего {{art.total}} артов.
					{% if art.new %}{{art.new}} из них новых{% endif %}
					{% if art.latest.thumb %}
						Последнее изображение: <br /><br />
						<div style="text-align:center; width: 100%;">
							<a href="{{domain}}/art/{{art.latest.id}}">
								<img src="{{domain}}/images/art/thumbnail/{{art.latest.thumb}}.jpg">
							</a>
						</div>
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="left index_smallcolumn defaultartholder">
			<div class="mainblock">
				<p class="head">
					<a href="{{domain}}/order/">
						Заказы
					</a>
				</p>
				Всего {{order.total}} заказов.
				{% if order.new %}{{order.new}} из них открыты{% endif %}
				{% if order.latest %}
					Последние заказы: <br /><br />
					{% for key, one in video.latest %}
						{% if not loop.first %}<br /><br />{% endif %}
						{{one.username}} заказал
						<a href="{{domain}}/video/{{one.id}}" class="with_help" title="{{one.text}}">
							{{one.title}}
						</a>
						{% if one.comments %} ({{one.comments}}){% endif %}
					{% endfor %}
				{% endif %}
			</div>
			{% if not news.read %}
				<div class="mainblock artblock">
					<p class="head">
						<a href="{{domain}}/art/">
							Арт
						</a>
					</p>
					Всего {{art.total}} артов.
					{% if art.new %}{{art.new}} из них новых{% endif %}
					{% if art.latest.thumb %}
						Последнее изображение: <br /><br />
						<div style="text-align:center; width: 100%;">
							<a href="{{domain}}/art/{{art.latest.id}}">
								<img src="{{domain}}/images/art/thumbnail/{{art.latest.thumb}}.jpg">
							</a>
						</div>
					{% endif %}
				</div>
			{% endif %}
		</div>
		{% if news.title %}
			<div class="left {% if news.read %}hidden{% endif %} index_largecolumn">
				<div class="post mainblock">
					<p class="head">
						<a href="{{domain}}/news/{{news.url}}/">
							{{news.title}}
						</a>
					</p>
					<div class="entry">
						<a href="/images/news/full/{{news.image}}" target="_blank">
							<img src="/images/news/thumbnail/{{news.image}}" align="left" class="news_image" />
						</a>
						{{news.text}}
					</div>
					<span class="semi_large">
						<a href="{{domain}}/news/{{news.url}}/">
							Комментировать
						</a>.
						{% if news.comments %} ({{news.comments}}){% endif %}
						<a href="#" class="right compress_news togglenews">
							Я прочел, уберите новость.
						</a>
					</span>
					<div class="center clear">
						<a href="{{domain}}/news/">
							Архив новостей.
						</a>
					</div>
				</div>
			</div>
		{% endif %}
	</td>
{% endblock %}
