<div class="header_menu">
	<ul class="right_menu">
		<li class="box header_menu_item">
			<a title="Ваши личные настройки"
				 class="thickbox"
				 href="/ajax.php?m=box&f=settings&width=500&height=650">
				Настройки
			</a>
			<ul>
				{% if _sets.user.login %}
					<li>
						<a title="Разлогиниться"
						 class="logout link disabled"
						 href="/">
							Выйти
						</a>
					</li>
					<li>
						<a title="Поменять пароль от аккаунта"
							 class="thickbox link"
							 href="/ajax.php?m=box&f=change_pass&width=500&height=170">
							Сменить пароль
						</a>
					</li>
				{% else %}
					<li>
						<a title="Войти, используя свой логин и пароль"
							 class="thickbox link"
							 href="/ajax.php?m=box&f=login&width=500&height=140">
							Войти
						</a>
					</li>
					<li>
						<a title="Зарегистрироваться на сайте"
							 class="thickbox link"
							 href="/ajax.php?m=box&f=register&width=500&height=200">
							Регистрация
						</a>
					</li>
				{% endif %}
				<li>
					<a title="Управление плагинами"
						 class="thickbox link"
						 href="/ajax.php?m=box&f=plugins&width=500&height=200">
						Плагины
					</a>
				</li>
			</ul>
		</li>
		<li class="header_menu_item">
			{% if _sets.user.rights > 0 %}
				<a href="/admin/">
					Админка
				</a>
			{% else %}
				<a title="Раздел вики со справкой"
					 href="http://wiki.4otaku.ru/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D1%8F:FAQ"
				>
					Справка
				</a>
			{% endif %}
		</li>
		<li class="box header_menu_item">
			<a title="Выберите, что показывать вам в RSS"
				 class="thickbox"
				 href="/ajax.php?m=box&f=rss&width=600&height=240">
				RSS
			</a>
		</li>
	</ul>

	<ul class="main_menu">
		{% for menu in sub.header.menu %}
			<li class="header_menu_item">
				<a href="{{menu.url}}" class="link">
					{{menu.name}}
				</a>
				{% if menu.items %}
					<ul>
						{% for child_menu in menu.items %}
							<li>
								<a href="{{child_menu.url}}" class="link">
									{{child_menu.name}}
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
		<li class="header_menu_item header_private_item">
			<span>Личное</span>
			<ul>
				{% include 'dynamic/header/personal_menu.html' with {'items': sub.header.personal} %}
			</ul>
		</li>
	</ul>
</div>
