<div class="mini-shell config_option">	
	Инвертированные комментарии: 
	<input 
		type="checkbox" 
		name="comments_sub.single_item.inverted" 
		value="1" 
		{% if user['comments_sub.single_item.inverted'] == 1 %}
			class="default reload checked" checked="checked"
		{% else %}
			class="default reload"
		{% endif %}		
	>
	
	<span class="right">
		Режим просмотра: 
		<input 
			type="radio" 
			name="comments_sub.single_item.display" 
			value="ladder" 
			{% if user['comments_sub.single_item.display'] == 'ladder' %}
				class="default reload checked" checked="checked"
			{% else %}
				class="default reload"
			{% endif %}		
		> лесенка, 
		<input 
			type="radio" 
			name="comments_sub.single_item.display" 
			value="quotation" 
			{% if user['comments_sub.single_item.display'] == 'quotation' %}
				class="checked reload" checked="checked"
			{% else %}
				class="reload"		
			{% endif %}		
		> цитаты, 
		<input 
			type="radio" 
			name="comments_sub.single_item.display" 
			value="simple" 
			{% if user['comments_sub.single_item.display'] == 'simple' %}
				class="checked reload" checked="checked"
			{% else %}
				class="reload"				
			{% endif %}		
		> простой.	
	</span>
</div>

{% for id, item in sub.comments.items %}
	{% if item.item_type == 'comment' %}
		{% include 'html/item/comment.html' %}
	{% elseif item.item_type == 'navi' and loop.last and not loop.first %}
		{% include 'html/item/navi.html' %}
	{% endif %}
{% endfor %}
