{% include "/edit/top.html" %}

<script type="text/javascript" src="/jss/m/?b=jss&f=ui/core.js,ui/sortable.js,edit_form.js,edit/sort.js,add/post.js"></script>
<div class="margin20 sortable-holder">
	<div class="link_bonus sortable link-edit">
		{% for link in data.extra %}
			<table>
				<tr class="link" rel="{{loop.index}}">
					<td>
						<input size="20" name="extra[{{loop.index}}][name]" value="{{link.name}}" type="text">:
						<input size="50" name="extra[{{loop.index}}][link]" value="<{{link.alias}}>{{link.url}}" type="text">
						<input type="submit" class="disabled remove_link sign" rel="bonus" value="-"/>
					</td>
					<td class="handler">
						<img src="/images/str.png" />
					</td>
				</tr>
			</table>
		{% endfor %}
		<table class="hidden">
			<tr class="link" rel="{{data.extra|length + 1}}">
				<td>
					<input size="20" name="extra[{{data.extra|length + 1}}][name]" value="" type="text">:
					<input size="50" name="extra[{{data.extra|length + 1}}][link]" value="" type="text">
					<input type="submit" class="disabled remove_link sign" rel="bonus" value="-"/>
				</td>
				<td class="handler">
					<img src="/images/str.png" />
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="clear"></div>
<input type="submit" class="disabled add_link left first_button" rel="bonus" value="Добавить ссылку" />
<input type="hidden" name="edit" value="extra" />

{% include "/edit/bottom.html" %}
