{% include "/edit/top.html" %}

<script type="text/javascript" src="/jss/m/?b=jss&f=ui/core.js,ui/sortable.js,edit_form.js,edit/sort.js,fileupload.js,add/post.js"></script>
<table>
	<tr>
		<td width="20%">
			Добавить торрент
		</td>
		<td colspan="2">
			<table>
				<tr>
					<td>
						<div id="post-torrent"></div>
					</td>
					<td>
						<img class="processing-torrent hidden" src="/images/ajax-processing.gif" />
					</td>
					<td>
						<span class="processing-torrent hidden">Файл загружается. (Вы можете загружать несколько файлов одновременно.)</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3" id="error">

		</td>
	</tr>
</table>
<div class="margin20">
	<div class="link_torrent sortable sortable-holder">
		{% for torrent in data.torrent %}
			<table>
				<tr class="link" rel="{{loop.index}}">
					<td>
						<input size="24%" name="torrent[{{loop.index}}][name]" value="{{torrent.name}}" type="text">:
						 <input size="24%" readonly name="torrent[{{loop.index}}][file]" value="{{torrent.file}}" type="text">
						 <input type="hidden" name="torrent[{{loop.index}}][hash]" value="{{torrent.hash}}" />
						 <input size="4%" readonly
							 name="torrent[{{loop.index}}][size]"
							 value="{{torrent.display_size}} {{torrent.display_sizetype}}"
							 type="text">
						 <input type="submit" class="disabled remove_link sign" rel="torrent" value="-"/>
					</td>
					<td class="handler">
						<img src="/images/str.png" />
					</td>
				</tr>
			</table>
		{% endfor %}
	</div>
</div>
<input type="hidden" name="edit" value="torrent" />

{% include "/edit/bottom.html" %}
