<div class="shell">
	<div class="post" id="post-{{id}}">
		<div class="innerwrap">
			<table width="100%">
				<tr>
					<td align="left">
						<h2>
							<a href="/post/{{id}}" title="{{item.title}}">
								{{item.title}}
							</a>
						</h2>
					</td>
					<td align="right" valign="top">
						<a href="/post/{{item.id}}">
							Комментировать
						</a>
						{% if item.comments %}
							 ({{item.comments}})
						{% endif %}
					</td>
				</tr>
			</table>
			<table cellspacing="0" cellpadding="0" width="100%">
				<tr>
					{% if item.image %}
						<td class="imageholder">
							{% for key, image in item.image %}
								<div class="image-{{key}}">
									<a href="{{domain}}/images/post/full/{{image.file}}" target="_blank">
										<img src="{{domain}}/images/post/thumbnail/{{image.file}}" /> 
									</a>													
								</div>								
							{% endfor %}
						</td>
					{% endif %}
					<td valign="top">
						<div class="posttext">
							{{item.text}}
						</div>
						{% if item.link %}
							<p>
								{% for key, link in item.link %}
									{% if not loop.first %}<br />{% endif %}
									{{link.name}}: 
									{% for url, alias in link.url %}
										{% if not loop.first %}|{% endif %} 
										<a href="{{url}}" target="_blank">
											{{alias}}
										</a>
									{% endfor %}
									 (~{{link.size}} {{link.sizetype}})									
								{% endfor %}
							</p>
						{% endif %}	
						{% if item.file %}
							<p class="post-files">
								{% for key, file in item.file %}
									{% if not loop.first %}<br />{% endif %}
									{% if file.type == 'plain' %}
										<img src="/i/file.png" class="post-image"> 
										{{file.name}}: 
										<a href="{{domain}}/files/post/{{file.type}}/{{file.folder}}/{{file.filename}}">
											{{file.filename}}
										</a>
										 ({{file.size}})							
									{% elseif file.type == 'image' %}							
										<img src="/i/file-image.png" class="post-image"> 
										{{file.name}}: 
										<a href="{{domain}}/files/post/{{file.type}}/{{file.folder}}/{{file.filename}}" class="imageholder" target="_blank">
											{{file.filename}}
											<span rel="{{file.height}}">
												<img class="hiddenthumb" src="#" rel="{{domain}}/files/post/{{file.type}}/{{file.folder}}/thumb_{{file.filename}}" />
											</span>	
										</a>
										 ({{file.size}})									
									{% elseif file.type == 'audio' %}
										<img src="/i/file-audio.png" class="post-image"> 
										<span>{{file.name}}: </span>
										<object type="application/x-shockwave-flash" align="bottom" data="/templates/musicplayer/player_mp3_maxi.swf" width="250" height="16">
											<param name="movie" value="/templates/musicplayer/player_mp3_maxi.swf" />
											<param name="bgcolor" value="#ffffff" />
											<param name="FlashVars" value="mp3={{domain|url_encode}}/files/post/{{file.type}}/{{file.folder}}/{{file.filename|url_encode}}&amp;width=250&amp;height=16&amp;showstop=1&amp;showvolume=1&amp;buttonwidth=20&amp;sliderwidth=15&amp;volumewidth=40" />
										</object>
									{% endif %}					
								{% endfor %}
							</p>
						{% endif %}
						{% if item.info %}
							<p>
								{% for key, info in item.info %}
									{% if not loop.first %}<br />{% endif %}
									{{info.name}}: 
									<a href="{{info.url}}" target="_blank">
										{{info.alias}}
									</a>							
								{% endfor %}
							</p>
						{% endif %}		
					</td>
				</tr>
			</table>
		</div>
		<div class="wrapper">
			<p class="meta">
				{% include 'web/common/meta.html' %}
			</p>
		</div>
	</div>
</div>
