.header_menu_item_0 {
	background: #F7D9FF;
}

.header_menu_item_1 {
	background: #E2D9FF;
}

.header_menu_item_2 {
	background: #D9EDFF;
}

.header_menu_item_3 {
	background: #D9FFFC;
}

.header_menu_item_4 {
	background: #DCFED4;
}

.header_menu_item_5 {
	background: #EBFCBE;
}

.header_menu_item_6 {
	background: #FEECBC;
}

.header_menu_item_7 {
	background: #FBE5CF;
}

.header_menu_item_8 {
	background: #FDDBE5;
}

.header_menu_item_9 {
	background: #EEEEEE;
}

.header_menu_item_0:hover, .header_menu_item_0:hover ul {
	background: #f2c5ff;
}

.header_menu_item_1:hover, .header_menu_item_1:hover ul {
	background: #D3C5FF;
}

.header_menu_item_2:hover, .header_menu_item_2:hover ul {
	background: #b7dcff;
}

.header_menu_item_3:hover, .header_menu_item_3:hover ul {
	background: #c2fef6;
}

.header_menu_item_4:hover, .header_menu_item_4:hover ul {
	background: #e2fb95;
}

.header_menu_item_5:hover, .header_menu_item_5:hover ul {
	background: #fcfb94;
}

.header_menu_item_6:hover, .header_menu_item_6:hover ul {
	background: #fdde93;
}

.header_menu_item_7:hover, .header_menu_item_7:hover ul {
	background: #f7c799;
}

.header_menu_item_8:hover, .header_menu_item_8:hover ul {
	background: #fccedb;
}

.header_menu_item_9:hover, .header_menu_item_9:hover ul {
	background: #e5e5e5;
}

.header_menu {
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 20px;
	border: 1px solid #FFFFFF;
	padding-bottom: 1px;
	margin-bottom: 30px;
	background: #EEEEEE;
}

* html .header_menu {
	padding-bottom: 0;
}

.header_menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.header_menu li {
	float: left;
}

.header_menu a, .header_menu:visited {
	text-decoration: none;
}

.header_menu a em, .header_menu:visited em {
	display: block;
	float: left;
	width: 5px;
	height: 20px;
}

.header_menu a b, .header_menu:visited b {
	display: block;
	font-weight: normal;
	float: left;
	padding: 0 10px;
	height: 20px;
	line-height: 19px;
	cursor: pointer;
}

.header_menu ul ul {
	visibility: hidden;
	position: absolute;
	height: 20px;
	top: 20px;
	left: 0px;
	width: 100%;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.header_menu:hover {
	white-space: normal;
}

.header_menu a b, .header_menu a:hover b {
	color: #000000;
}

.header_menu li:hover > a b {
	color: #000000;
}

.header_menu ul li:hover ul, .header_menu ul a:hover ul{
	display: block;
	visibility: visible;
	top: 20px;
	margin-top: -1px;
}

.header_menu ul:hover ul li:first-child {
	display: block; 
	border-left: none;
	background: inherit;
	height: 20px;
}

.header_menu ul:hover ul li {
	display: block; 
	border-left: 1px solid #FFFFFF;
	background: inherit;
	height: 20px;
}

.header_menu ul:hover ul li a {
	display: block; 
	height: 20px; 
	line-height: 25px; 
	width: auto; 
	float: left;
	color: #000000;
	padding: 0 10px;
}

.header_menu ul:hover ul li a:hover {
	color: #000000;
}
