/* Начальные настройки */

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	min-width: 1006px;
}

table.body {	
	background: url(/images/topbg.gif) repeat-x;	
	padding: 5px 0 0;
	margin-top: 10px;
}

table.body a {
	color: #42A3B9;
	cursor:pointer;
	text-decoration: underline;
}

a.plaintext {
	color: #000000 !important;
	text-decoration: none;
}

p {
	margin-top: 0px;
}

img {
	border: none;
}

ul li {
	list-style-type: none;
}

ul.plain_list {
	margin: 0;
	padding: 0;	
	list-style-type: !important;	
}

.cancel-holder {
	width: 90px;
}

img.cancel {
	position: relative;
	bottom: 9px;
	left: 9px;
	cursor:pointer;	
}

.left  {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
}

.relative {
	position: relative;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.margin10 {
	 margin-bottom: 10px;
}

.margin20 {
	 margin-bottom: 20px;
}

.margin30 {
	 margin-bottom: 30px;
}

.input60 {
	width: 60%;
}

.input70 {
	width: 70%;
}

.input80 {
	width: 80%;
}

.second_button {
	margin-left: 5px;
}

.first_button {
	margin-right: 35px;
}

input, textarea {
    -moz-border-radius: 0.5em !important;
	-webkit-border-radius: 0.5em !important;
	border-radius: 0.5em !important;
    background-color:#efefef ;
    border:1px solid #CCCCCC !important;
    border-bottom:1px solid #eee !important;
    border-right:1px solid #eee !important;
    padding:3px 3px 3px 3px !important; 
}

button, input {
    background-color:#FFFFFF !important;
    text-decoration:none !important;
    font-weight:bold !important; 
    color:#565656 !important;
    cursor:pointer !important;
    padding:3px 3px 3px 3px !important; 
}

textarea {
    background-color:#FFFFFF !important;
    cursor:pointer !important;
    padding:3px 3px 3px 3px !important; 
}

input:hover, input:focus, button:hover, button:focus, textarea:hover, textarea:focus {
    background-color:#efefef !important ;
    border:1px solid #CCCCCC !important;
    color:#565656 !important;

}

#easyTooltip {
	padding: 5px 10px;
	max-width: 45%;
	border: 1px solid #195fa4;
	background: #195fa4 url('/i/bg.gif') repeat-x;
	color: #fff;
}

#superbox-innerbox {
	height: auto !important;
} 

wbr { 
	display: inline-block; 
}

div.mini-shell div.text {
	margin: 15px;
}

.clickable {
	cursor:pointer !important;
}

/* Глобальные элементы */

#content {	
	padding-left: 15px; 
	padding-right: 15px;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	line-height: 12pt;
	min-height: 500px;
}

#sidebar {	
	padding-left: 10px; 
	line-height: 15pt;
	width: 240px;
}

.art_body #sidebar {	
	width: 220px;
}

#footer {	
	height: 60px;
	padding-left: 30px; 
	padding-top: 10px; 
	margin-top: 20px; 
	border-top: 1px solid #E7E7E7;
	background: url(/images/hline.gif) repeat-x; 	
}

/* Content, общее */

#content h2{
	line-height: 18pt;
}

.error td {
	text-align: center;
}

.searcherror {
	width: 55%;
	height: 18px;
}

div.addborder {
	border: 2px solid rgb(231, 231, 231);
}


div.addborder > div {
	border: 1px solid rgb(204, 204, 204); 
	padding: 12px;
}

div.addborder > a {
	border-bottom: 1px dashed rgb(204, 204, 204); 
	text-decoration: none;
}

.settings_header {
	background-color: #E8E8E8;
	text-align: center;
}

.synonims {
	margin-right: 10px;
}

.tag_synonims {
	margin-right: 10px;
}

.tag_synonims a {
	color: #CC99FF !important;
}

/* Content, верхний блок, до содержимого */

.scrollerout {
	border: 2px solid rgb(231, 231, 231);
	margin-bottom: 10px;
}

.scrollerin {
	border: 1px solid rgb(204, 204, 204); 
	padding: 12px;
}

.scrollertext {
	border-bottom: 1px dashed rgb(204, 204, 204); 
	text-decoration: none;
}

#add_loader {
	text-align: center;
}

#add_form, #add_loader img {
	display: none;
}

.span-red {
	color: red;
	font-weight: bold;
}

.span-green {
	color: green;
	font-weight: bold;
}

#content ul{
	padding-left: 15px;
	margin: 0;
}

#content .car-list li{
	list-style: none;	
	padding: 0;
	margin-bottom: 4px;
}

#content li ul li{
	margin-bottom: 2px;
}

.car-yearmonth:hover {
	cursor: pointer;
	text-decoration: underline;
}

.addres {
	margin: 0 20px 20px 20px;
}

/* Content, главная страница */

.loadwindow {
	text-decoration: none;
	border-bottom: 1px dashed rgb(204, 204, 204); 
	margin-top: 10px;
}

.togglenews {
	text-decoration: none;
	border-bottom: 1px dashed rgb(204, 204, 204); 	
}

.news_bar {
	margin-left: 20px;	
}

.news_image {
	margin-right: 10px;	
}

.wrapwindow {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  border:none;
}

.index_centerholder {
	padding-right: 3%; 
	padding-left: 3%;
}

.index_topholder {
	height: 90px;
}

.index_smallcolumn {
	width: 25%
}

.index_largecolumn {
	width: 50%
}

.post .imageholder img {
	margin: 0 0 0 10px;
}

.semi_large {
	font-size:10pt;
}

/* Content, отображение поста */

.post {
	clear: both;
}

.post h2{
	font-size: 14pt;
	font-weight: normal; 	
	margin-top: 5px;
}

.wrapper {
	clear: both;
	padding-top: 5px; 
	line-height: 14pt;	
}

.meta {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 90%;
	border-top: 1px dashed #ccc;
}

.shell {	
	border: 1px solid #E7E7E7;
	padding: 5px;
	margin-bottom: 25px;
}

div div.handler {
width:97%;
}

.mini-shell {	
	border: 1px solid #E7E7E7;
	padding: 2px;
}

.post-files img, .post-files object {
	vertical-align: text-bottom;
}

.post-files img {
	margin-right: 5px;
}

.post-files {
	line-height: 16pt;
}

.image-0 {
	margin-top: 0px !important; 
}

.imageholder {
	width: 210px;
	text-align: center;
	vertical-align: top;
}

.hiddenthumb {
	display: none;
	position: absolute;
	z-index: 999;
    border: 2px solid #CCCCCC;
    background: #E7E7E7; 
    padding: 10px; 	
}

.imageholder div {
	margin: 10px 10px 0 0;
}

div.posttext {
	margin-bottom: 12px;
}

#updates_field_loader {
	text-align: center;
}

#updates_field, #updates_field_loader img {
	display: none;
}

input.edit {
	margin-left: 5px;
}

#updates_field .entry{
	padding: 0 80px; 
	margin-top: 15px; 
}

/* Content, вывод комментариев */

a.comments {
  margin-top: 5px; 
  margin-bottom: 20px; 
}

.commentsh2 {
  font-size: 14pt; 	
  font-weight: normal;
  color: #42A3B9;
  margin-top: 0px !important;
}

.datetime {
	color: Gray;
	font-size: 9px;
	padding-left: 5px;
	padding-right: 5px;
}

.commentmetadata {
	font-size: 10px;
}

.comment {
	margin-top: 30px;
	margin-bottom: 30px;
}

.comment-top {
	height: 23px;
	background: #FFFAF0;
	padding-left: 10px; 
}

.comment-content {		
	padding-left: 10px; 
	min-height: 50px;	
	padding-top: 3px;	
}

.c-wrap {
	clear: both;
	padding-top: 20px; 	
	border-bottom: 1px solid #DCDCDC;
}

.avatar-n {	
	float: left;
	width: 50px;
	height: 50px;	
	padding: 5px;
	border: 1px solid Black;	
	margin-right: 10px; 	 
}

.comment-text {	
	margin-left: 75px; 	 
}

div.respond {
	margin-left: 50px;
}

.quotation {
	padding: 8px;
	background-color: #EEEEEE;
	border: 1px solid #777777;
	margin: 5px;
	margin-bottom: 15px;
}

.quotation .username {
	font-weight: bold;
	margin-right: 10px;
}

/* Content, навигация по страницам внизу */

#navi_bottom ul, #navi_bottom li, #navi_bottom a, #navi_bottom span {
	background: white;
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	text-transform: none;
	text-indent: 0px;
	font-variant: normal;
	text-align: left;
	line-height: 12px;
	letter-spacing: 0px;
	word-spacing: 0px;
	font-size: 11px;
	font-family: Arial;
}

#navi_bottom {
	margin-top: 10px;
	width: 100%;
	background: white;
	clear:both;
	display:block;
}

#navi_bottom ul {
	width: 100%;
}

#navi_bottom li {
	float: left;
	display: block;
}

#navi_bottom a, #navi_bottom span {
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 2px;
	margin-right: 2px;
	display: block;
	color: #333;
	border: 1px solid #bfbfbf;
}

#navi_bottom li a:hover, #navi_bottom li span:hover {
	border-color: #ff8000;
}

#navi_bottom li.space {
	padding: 6px;
	padding-left: 2px;
	padding-right: 2px;
}

#navi_bottom li.first_last_page {
	font-style: italic;
}

#navi_bottom li.active_page a {
	border-color: #46daff;
}

#navi_bottom li.active_page a:hover  {
	color: black; /* IE fix */
	text-decoration: underline;
	border-color: #ff8000;
}

#navi_bottom li.page_info {
	float: left;
	display: block;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 2px;
	color: #666;
	font-size: 11px;
	border: 1px solid #bfbfbf;
}

#navi_bottom div {
	float: none; 
	clear: both;
}

/* Content, стол заказов */

ol.orders_list {
	list-style: decimal outside;
	line-height: 150%;
}

/* Content, архив */


.archive_navi ul {
	margin: 0;
	padding-left: 25px;	
}

.archive_navi li {
	list-style: none;	
}

/* Content, Booru */

.art_body {
	display: table-cell;
}

.thumbnail {
  display: inline-block;
  float: left;
  text-align: center;
  position: relative;
}

.large_thumbnail {
	width: 260px;
	height: 260px;
}

.small_thumbnail {
	width: 180px;
	height: 180px;
}

.large_extractor_thumbnail {
	width: 260px;
	height: 300px;
}

.small_extractor_thumbnail {
	width: 180px;
	height: 220px;
}

.booru_main {
  text-align: center;
}

.art-bar {
	text-align: left;
	padding-left: 5px;	  
}

.art_translation {
	position: absolute;
	opacity: 0.5;
	background: none repeat scroll 0 0 #EEEEFF;
	border: 1px solid #000000;
	cursor: pointer;
}

.art_translation_active {
	position: absolute;
	opacity: 0.9;
	background: none repeat scroll 0 0 #EEEEFF;
	border: 1px solid #000000;
	cursor: move;
	text-align: right;
}

.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

.edit_switch {
	position: absolute;
	cursor: pointer;	
}

.edit_translation {
	position: absolute;
}

.image {
    display: table;
    display: inline-block;
    position: relative;
}

.art_not_showed {
	font-size: 90%;
	text-align: left;
	height: 100%;
}

.cg_name {
	font-weight: bold;
}

.pack_description {
	margin-left: 20px;
}

.similar_sign {
	position: absolute;
	top: 2px;
	right: 5px;
}

.loading_variation {
	margin-left: 30px;
	padding: 0px;
    display: inline;
	overflow: hidden;
	height: 0px;
}

/* Content, борда */

div.thread { display: block; padding: 5px 0 10px 0; clear: both; border-top: 1px solid #ddd; margin-top: 15px; }
div.thread span { float: left; display: block; padding: 0 10px 0 10px; border-left: 1px solid #ddd;  }
div.thread span.author { font-weight: bold; color: #42A3B9; padding: 0 10px 0 0; border-left: 0; }
div.thread span.number, div.thread span.number a { color: #bbb; text-decoration: none; }
div.message span.number a.number_link:hover { color: #42A3B9; }
div.thread span.link_right, div.thread span.link_last, div.thread span.link_delete { float: right; }
div.thread span.link_last { padding: 0 0 0 10px; }
div.thread span.date { color: #bbb; }
div.thread span.trip { color: #C7C500; }
div.thread div.tbody { clear: both; padding: 5px 0; }
div.thread div.tbody img, div.thread div.video{ float: left; padding: 0 10px 10px 0px; }
div.thread div.video { text-align: center; width: 240px; }
div.thread div.posttext { margin: 0; }
div.thread .download_thread .variants { display: none; position: absolute; right: 0px; padding: 10px 10px; }
div.thread .download_thread:hover .variants { display: block; line-height: 180%;  border: 1px solid #C7C500; background: #E8E7B7; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

div.message { display: block; padding: 5px; margin: 0 0 5px 0; border: 1px solid #ddd; background: #eee; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: hidden; }
div.message span { float: left; display: block; padding: 0 10px 0 10px; border-left: 1px solid #ddd;  }
div.message span.author { font-weight: bold; color: #42A3B9; padding: 0 10px 0 0; border-left: 0; }
div.message span.number, div.message span.number a { color: #bbb; text-decoration: none; }
div.message span.number a.number_link:hover { color: #42A3B9; }
div.message span.link_last, div.message span.link_delete { float: right; }
div.message span.link_last { padding: 0 0 0 10px; }
div.message span.date { color: #bbb; }
div.message span.trip { color: #C7C500; }
div.message div.tbody { clear: both; padding: 5px 0; }
div.message div.tbody img, div.message div.video { float: left; padding: 0 10px 10px 0px; }
div.message div.video{ text-align: center; width: 240px; }

div.posttext ul, div.posttext ol, div.posttext p { overflow: hidden; } /* фикс для выползающего контента */

span.board_spoiler { background: none repeat scroll 0 0 #E7E7E7; color: #E7E7E7; }
span.board_spoiler:hover { background: none repeat scroll 0 0 #E7E7E7; color: #000000; }
span.board_quote { margin-left: 20px; color: #789922; float: none !important; }

div.skipped { padding: 5px; margin: 0 0 5px 0; border: 1px solid #C7C500; background: #E8E7B7;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: hidden; }
div.skipped a.readmore { float: right; }

/* Content, админка */

#darklayer {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

#message {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	height: 25%;
	width: 25%;	
	border: 4px solid #525252;
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	top: 37%;
	left: 37%;
}

/* Content, новости */

ul.list {
	padding-left: 0px;
}

ul.list li {
	list-style-type: circle;
	margin-bottom: 3px;
}

/* Top, Форма добавления */

#addform {
	margin-top: 30px;
}

#addform .fields {
	font-size: 18pt;
	margin: 30px 0; 
}

#addform .fields span {
	border-bottom: 1px dashed #ccc;
}

#addform .input {
	background-color: #e6e6e6;
}

input.sign {
	margin-left: 10px;
}

#addform div {
    height: auto;
    min-height: 100%;
	vertical-align: middle;
}

#addform .inputdata {
	background-color: #efefef;
}

#addform .field_name {
	text-align: right;
	font-weight: bold;
}

#addform td {
	height: 100%;
	padding: 5px;
}

#addform .uploadholder {
	vertical-align: middle;
}

#error {
	text-align: center;
	font-weight: bold;
	color: red;
}

#transparent div {
	float:left; 
	text-align: right;
	background-repeat: no-repeat; 
	background-position: 50% 50%;
	border: 2px dashed #B6B6B6;
	margin: 5px 10px;
}

.upload_button {
	width: 61px !important; 
	height: 26px !important; 
	background-image: url('/images/upload_button.png');
}

.post_images div {
	width: 200px; 
	height: 150px !important;	
}

.art_images div {
	width: 150px; 
	height: 150px !important;	
}

.board_images div {
	width: 240px; 
	height: 180px !important;  
}

.processing {
	display: none;
}

.processing-file {
	display: none;
}

.processing-image {
	display: none;
}

.bbholder {
	border: 2px solid #666;
	margin-top: 3px;
}

img.bb {
	background-color: #EEEEFF;
	border: 1px solid #666;
	margin: 0px !important;
}

.bbholder td {
	padding: 0px !important;
}

/* Sidebar */

#sidebar h2 {
	font-weight: normal;
	font-size: 18pt;
	margin: 10px 0;
}

div.cats {
	border-top: 1px dashed #ccc;
	margin: 0 0 10px 0;		
}

.searchbox .active {
	background-color: #AADDFF;
}

.searchbox, .searchbox td {
	width: 100%;
}

.search-main {
	width: 500px;
}

#sidebar input.search {	
	width: 140px;
}

.searchmain {
	width: 95%;
	height: 18px;
}

#navi_bar select {
	width: 120px;
}

span.href {
	color: #42A3B9;
}

a.tag_in_cloud {
	line-height: 19pt;	
}

a.tag_in_cloud {
	text-decoration: none;
}

a.tag_in_cloud:hover {
	text-decoration: underline;
}

.settings_child {
	margin-left: 20px;
}

ul.art_tags {
	list-style-type: none;
	padding: 0;
}

ul.art_tags span{
	color: #888888;
}

#quick_bar ul {
	margin: 0;
	padding: 0 15px;
	list-style: none;
}

.add_navi, .remove_navi {
	min-width: 24px;
	margin: 0 0 0 5px;
}

/* Footer */

#footer .right div {
	text-align: center;
	width: 240px;
}
