html {
	color:#000;
	background:#FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, code, form, fieldset, legend, input, textarea, 
p, blockquote, th, td {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset, img {
	border:0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}

li {
	list-style:none;
}

caption, th {
	text-align:left;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}

q:before, q:after {
	content:'';
}

abbr, acronym {
	border:0;
	font-variant:normal;
}

sup {
	vertical-align:text-top;
}

sub {
	vertical-align:text-bottom;
}

input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}

input, textarea, select {
	*font-size:100%;
}

legend {
	color:#000;
}

p { 
	margin: 3px 0; 
}

body { 
	background: #fff; 
}

a,  a:active,  a:link,  a:visited { 
	color: #42A3B9; 
	text-decoration: none; 
}

a { 
	outline: none !important; 
}

a:focus { 
	-moz-outline-style: none !important; 
}
a.ul { 
	text-decoration: underline !important; 
}

a:hover { 
	text-decoration: underline; 
}

strong { 
	font-weight: bold !important; 
}

em { 
	font-style: italic !important; 
}

u { 
	text-decoration: underline !important; 
}

strike { 
	text-decoration: line-through !important; 
}

a img { 
	text-decoration: none !important; 
}
