{% if loop.first %}
	<div class="car-container car-collapse">
		<a href="#" class="car-toggler" rel="closed">
			Развернуть все
		</a>
		<br /><br />
		Всего {{flag.count}} 
		{% if flag.list_type == 'art' %}
			артов
		{% elseif flag.list_type == 'video' %}
			видео
		{% elseif flag.list_type == 'post' %}
			записей
		{% endif %}	
		 на 4отаку.
		<br />
		<ul class="car-list">
{% endif %}
<li><br /></li>
<li><b>{{id}}</b></li>
<li><br /></li>
{% for month_number, month in item.months %}
	<li>
		<img src="/i/tb2.gif">
		&nbsp;
		<span class="car-yearmonth car-{{id}}{{month_number}}" rel="closed">
			{{month.name}} 
			<span>
				({{month.count}})
			</span>
		</span>
		<ul class="hidden car-monthlisting car-{{id}}{{month_number}}">
			{% for list_item in month.items %}
				{% if flag.list_type == 'art' %}
					<li>
						{{list_item.day}} числа: добавлено 
						<a href="/{{flag.list_type}}/date/{{list_item.year}}-{{list_item.month}}-{{list_item.day}}/">
							{{list_item.count}} артов
						</a>.
					</li>
				{% else %}								
					<li>
						{{list_item.day}} числа: 
						<a href="/{{flag.list_type}}/{{list_item.id}}">
							{{list_item.title}}
						</a>. 
						{% if list_item.comments > 0 %}
							<span title="Всего комментариев">
								Комментариев: ({{list_item.comments}})
							</span>
						{% endif %}
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</li>		
{% endfor %}
{% if loop.last %}	
		</ul>
	</div>
{% endif %}
