{% if loop.first %}
	<div class="car-container car-collapse">
		<a href="#" class="car-toggler" rel="closed">
			Развернуть все
		</a>
		<br /><br />
		Всего {{flag.count}} 
		{% if flag.list_type == 'art' %}
			артов
		{% elseif flag.list_type == 'video' %}
			видео
		{% elseif flag.list_type == 'post' %}
			записей
		{% endif %}	
		 на 4отаку.
		<br /><br />
		<ul class="car-list">
{% endif %}
<li>
	<img src="/i/tb2.gif">
	&nbsp;
	{% if flag.list_type == 'art' %}
		<span>
			{{item.name}}: 
			<a href="/art/{{flag.meta_type}}/{{item.alias}}/">
				{{item.count}} артов
			</a>.
		</span>
	{% else %}
		<span class="car-yearmonth car-{{loop.index}}" rel="closed">
			{{item.name}} 
			<span>
				({{item.count}})
			</span>
		</span>			
		<ul class="hidden car-monthlisting car-{{loop.index}}">
			{% for list_item in item.items %}				
				<li>
					<a href="/{{flag.list_type}}/{{list_item.id}}">
						{{list_item.title}}
					</a>. 
					{% if list_item.comments > 0 %}
						<span title="Всего комментариев">
							Комментариев: ({{list_item.comments}})
						</span>
					{% endif %}
				</li>					
			{% endfor %}
		</ul>					
	{% endif %}
</li>
{% if loop.last %}	
		</ul>
	</div>
{% endif %}
