<div class="comment" id="comment-<?=$comment['id'];?>"<?=($comment['position'] ? ' style="padding-left: '.($comment['position']*50).'px;"' : '');?>>
	<div class="comment-top">
		<b><?=($block['comment_count'] - $i);?>) <?=$comment['username'];?></b>
		<span class="datetime">
			 <?=$comment['pretty_date'];?>
		</span>
		<span class="commentmetadata"><a href="#comment-<?=$comment['id'];?>" title="">#</a></span>
	</div>
	<div class="comment-content">
		<div class="avatar-n">
			<img alt='' src='http://www.gravatar.com/avatar/<?=md5( strtolower($comment['email']) );?>?s=50&d=identicon&r=G' class='avatar avatar-50 photo' height='50' width='50' />
		</div>
		<div class="comment-text">
		<span><?=$comment['text'];?></span>
		<br /><br />
		<a href="<?=$def['site']['dir']?>/<?=$block['place'];?>/<?=$block['id'];?>/comments/all#reply-<?=$comment['id'];?>">Ответить</a>
		<div class="c-wrap"></div>
		</div>
	</div>
	<br />
</div>
