<div 
	class="comment clear" 
	id="comment-{{id}}" 
	{% if item.ladder_position %}
		style="padding-left: {{item.ladder_position}}px;"
	{% endif %}	
>
	<div class="comment-top margin10">
		<b>{{index}}) {{item.username}}</b>
		<span class="datetime">
			 {{item.precise_date}}
		</span>
		<span class="commentmetadata"><a href="#comment-{{id}}" title="">#</a></span>
	</div>
	<div class="comment-content">
		<div class="avatar-n">
			<img 
				src="http://www.gravatar.com/avatar/{{item.gravatar}}?s=50&d=identicon&r=G" 
				height="50" width="50" 
			/>
		</div>
		<div class="comment-text">
			{% if item.quotation %}
				<blockquote class="quotation margin10">
					<span class="username">{{item.quotation.username}}:</span>
					{{item.quotation.text}}
				</blockquote>
			{% endif %}			
			<div class="margin10">{{item.text}}</div>
			{% if item.link and item.place %}
				<a href="/{{item.place}}/{{item.link}}/comments/all#reply-{{id}}">Ответить</a>
				<div class="c-wrap"></div>
			{% endif %}
		</div>
	</div>
</div>
