<div id="navi_bottom">
	<code>
		<ul>
			<li class="page_info">
				Страница 
				{% if item.is_comment %}комментариев {% endif %}
				{{item.curr_page}} из {{item.pagecount}}
			</li>
			{% if item.backward %}
				<li>
					<a href="{{item.backward}}">
						&lt;
					</a>
				</li>
			{% endif %}
			{% for number, element in item.pages %}
				{% if element.type == 'active' %}
					<li class="active_page">
						<a href="{{element.url}}">
							{{number}}
						</a>
					</li>
				{% elseif element.type == 'enabled' %}
					<li>
						<a href="{{element.url}}">
							{{number}}
						</a>
					</li>				
				{% else %}
					<li class="space">
						...
					</li>
				{% endif %}
			{% endfor %}
			{% if item.forward %}
				<li>
					<a href="{{item.forward}}">
						&gt;
					</a>
				</li>
			{% endif %}
			{% if item.is_comment %}
				<li>
					<a href="{{item.comment_all}}">
						Показать все
					</a>
				</li>
			{% endif %}
		</ul>
		<div>
			&nbsp;
		</div>
	</code>
</div>
