<div class="shell">
	<div class="post" id="post-{{id}}">
		<div class="innerwrap">
			<table width="100%">
				<tr>
					<td align="left">
						<h2>
							<a href="/news{{utils.area(item.area)}}/{{item.url}}" title="{{item.title}}">
								{{item.title}}
							</a>
						</h2>
					</td>
					<td align="right" valign="top">
						{% if flag.listing %}
							<a href="/news{{utils.area(item.area)}}/{{item.url}}">
								Комментировать
							</a>
							{% if item.comments %}
								 ({{item.comments}})
							{% endif %}
						{% else %}
							{{item.date}}
						{% endif %}
					</td>
				</tr>
			</table>
			<table cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td valign="top">
						<div class="posttext">
							{{item.text}}
						</div>	
					</td>
					{% if item.image %}
						<td class="imageholder">
							{% if item.image %}
								<div class="image-0">
									<a href="{{domain}}/images/news/full/{{item.image}}" target="_blank">
										<img src="{{domain}}/images/news/thumbnail/{{item.image}}" /> 
									</a>													
								</div>								
							{% endif %}
						</td>
					{% endif %}					
				</tr>
			</table>
		</div>
	</div>
</div>
