<tr>				
	<td colspan="2">
		<div class="header_menu">
			<ul>
				{% for url, part in sub.header.items %}
					<li class="header_menu_item_{{loop.index0 % 11}} header_menu_item">
						<a href="{{url}}" title="{{part.title}}">
							<em></em>
							<b>{{part.title}}</b>
							<em></em>
						</a>
						{% if part.items %}
							<ul>
								{% for url, name in part.items %}
								<li>
									<a href="{{url}}" title="{{name}}">
										{{name}}
									</a>
								</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
				<li class="header_menu_item_10 header_menu_item header_menu_item_last">
					&nbsp;
				</li>
			</ul>
		</div>
		<div id="hline"></div>
	</td>
</tr>
