<div class="header_menu">
	<ul class="usermenu"> 
		<li><a title="Настройки" href="/settings/">Настройки</a></li> 
		<li><a title="Залогиниться/Разлогиниться" href="#login">Вход</a></li> 
		<li><a title="Зарегистрироваться" href="#registration">Регистрация</a></li> 
	</ul>

	<ul class="mainmenu"> 
		{% for url, part in sub.header.items %}
			<li class="header_menu_item">
				<a title="{{part.title}}" href="{{url}}">
					{{part.title}}
				</a> 
				{% if part.items %}
					<ul> 
						{% for url, name in part.items %}
							<li>
								<a title="{{name}}" href="{{url}}">
									{{name}}
								</a>
							</li> 
						{% endfor %}
					</ul> 
				{% endif %}
			</li> 
		{% endfor %}
	</ul>
</div>
