<div class="header_menu">
	<ul class="usermenu"> 
<!--		<li><a title="Настройки" href="/settings/">Настройки</a></li> -->
		<li>
			<a class="disabled external_overlay" rel="#overlay" href="/login/?output=true&function=login">
				Вход
			</a>
		</li> 
		<li>
			<a class="disabled external_overlay" rel="#overlay" href="/login/?output=true&function=registration">
				Регистрация
			</a>
		</li> 
	</ul>

	<ul class="mainmenu"> 
		{% for part in sub.header.items %}
			<li class="header_menu_item">
				{% if part.url %}
					<a href="{{part.url}}">
						{{part.title}}
					</a> 
				{% else %}
					<span class="disabled_link">
						{{part.title}}
					</span> 
				{% endif %}
				{% if part.items %}
					<ul> 
						{% for url, name in part.items %}
							<li>
								<a href="{{url}}">
									{{name}}
								</a>
							</li> 
						{% endfor %}
					</ul> 
				{% endif %}
			</li> 
		{% endfor %}
	</ul>
</div>
