{{item.date}}
{% if item.meta.author %}
	 | {{item.meta_header.author}} 
	{% for key, author in item.meta.author %}
		{% if not loop.first %}, {% endif %}																	
		<a href="{{item.base}}author/{{author.alias}}/">
			{{author.name}}
		</a>
	{% endfor %}
{% endif %}
{% if item.meta.category %}
	 | {{item.meta_header.category}} 
	{% for key, category in item.meta.category %}
		{% if not loop.first %}, {% endif %}
		<a href="{{item.base}}category/{{category.alias}}/">
			{{category.name}}
		</a>
	{% endfor %}
{% endif %}	
{% if item.meta.language %}	
	 | {{item.meta_header.language}} 
	{% for key, language in item.meta.language %}
		{% if not loop.first %}, {% endif %}
		<a href="{{item.base}}language/{{language.alias}}/">
			{{language.name}}
		</a>
	{% endfor %}
{% endif %}	
{% if item.meta.tag %}	
	 | {{item.meta_header.tag}} 
	{% if item.have_tag_variants %}
		<span class="synonims">
			<a href="#" class="disabled" title="Показать синонимы" rel="{{id}}">
				&gt;&gt;
			</a>
		</span> 
	{% endif %}
	{% for key, tag in item.meta.tag %}
		<a href="{{item.base}}tag/{{tag.alias}}/">
			{{tag.name}}
		</a>
		{% if not loop.last %}, {% endif %}
		<span class="hidden tag_synonims tag_synonims_{{id}}">
			{% if tag.variants %}
				{% if loop.last %}, {% endif %}
				{% for synonim in tag.variants %}
					<a href="{{item.base}}tag/{{synonim|url_encode}}">
						{{synonim}}
					</a>
					{% if not loop.last %}, {% endif %}
				{% endfor %}
			{% endif %}	
			&nbsp;
		</span>	
	{% endfor %}
{% endif %}
