<div class="car-container car-collapse">
	<a href="#" class="car-toggler" rel="closed">
		Развернуть все
	</a>
	<ul class="car-list">
		<br />
		Всего {{total}} на 4отаку.
		<br /><br />
		{% for year, year_months in item.years %}
			<li><br /></li>
			<li><b>{{year}}</b></li>
			<li><br /></li>
			{% for month_number, month in year_months %}
				<li>
					<img src="/i/tb2.gif">
					&nbsp;
					<span class="car-yearmonth car-{{year}}{{month_number}}" rel="closed">
						{{month.name}} 
						<span>
							({{month.count}})
						</span>
					</span>
					<ul class="hidden car-monthlisting car-{{year}}{{month_number}}">
						{% for list_item in month.items %}
							{% if list_type == 'art' %}
								<li>
									{{list_item.day}} числа: добавлено 
									<a href="/{{list_type}}/date/{{list_item.year}}-{{list_item.month}}-{{list_item.day}}/">
										{{list_item.count}} артов
									</a>.
								</li>
							{% else %}								
								<li>
									{{list_item.day}} числа: 
									<a href="/{{list_type}}/{{list_item.id}}">
										{{list_item.title}}
									</a>.
									{% if list_item.comments > 0 %}
										<span title="Всего комментариев">
											Комментариев: ({{list_item.comments}})
										</span>
									{% endif %}
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>		
			{% endfor %}
		{% endfor %}
	</ul>
</div>
