<div class="shell post">
	<div id="post-{{id}}">
		<div class="innerwrap">
			<table width="100%">
				<tr>
					<td align="left">
						<h2>
							<a href="/video{{utils.area(item.area)}}/{{id}}" title="{{item.title}}">
								{{item.title}}
							</a>
						</h2>
					</td>
					<td align="right" valign="top">
						<a href="/video{{utils.area(item.area)}}/{{id}}">
							Комментировать
						</a>
						{% if item.comments %}
							 ({{item.comments}})
						{% endif %}
					</td>
				</tr>
			</table>
			<div class="center clear">
				<center>
					{{item.object}}
				</center>
			</div>
		</div>
		<div class="wrapper">
			<p class="meta">
			{% include 'web/common/meta.html' %}	
			{% if item.text %}
				<span class="right">
					<a href="#" class="show-description disabled" rel="{{id}}">
						Показать описание
					</a> 
					<span class="arrow arrow-<?=$item['id'];?>" rel="off">↓</span>
				</span> 
			{% endif %}
			</p>
		</div>
		{% if item.text %}
			<div class="shell post description description-{{id}} hidden">
				<h2>
					<span class="postlink">
						<a href="#" class="disabled">
							Описание
						</a>
					</span>
				</h2>
				<br />
				<div class="posttext">
					{{item.text}}
				</div>
			</div>
		{% endif %}
	</div>
</div>
