<div class="shell">
	<div class="display_item" id="post-{{id}}">
		{% include 'main/item/post/core.html' %}
	</div>
	{% if post.update_count %}
		<div class="center hidden" id="updates_field_loader">
			<img src="/images/ajax-loader.gif">
		</div>
		<div id="updates_field" class="hidden">
			&nbsp;
		</div>
	{% endif %}
	{% if post.is_editable %}
		{% include 'main/item/post/edit.html' %}
		{% if not post.in_batch %}
			{% include 'main/item/post/update_add.html' %}
		{% endif %}
	{% endif %}
</div>
