{% for update in items %}
	<div class="shell">
		<div class="right">
			<b>
				Дата обновления: {{update.pretty_date}}
			</b>
		</div>
		<div class="left">
			Обновил: 
			<b>
				{{update.username}}
			</b>; 
		</div>
		<div class="clear"></div>
		<div class="entry">
			<p>
				{{update.text}}
			</p>
			<p>
				{% if update.link %}
					<p>
						{% for key, link in update.link %}
							{% if not loop.first %}
								<br />
							{% endif %}
							{{link.name}}: 
							{% for url, alias in link.url %}
								{% if not loop.first %}
									 | 
								{% endif %}
								<a href="{{url}}" target="_blank">
									{{alias}}
								</a>
							{% endfor %}	
								 (~{{link.display_size}} {{link.display_sizetype}})									
						{% endfor %}
					</p>
				{% endif %}	
			</p>
		</div>
	</div>
{% endfor %}

<script type="text/javascript">
	$("input.disabled").click(function(event){  
		event.preventDefault();
	});

	$("input.hide_updates").click(function(){  	
		$("#updates_field").hide();
		$("#updates_field").html('&nbsp;');
	});	
</script>
