<div class="shell post">
	{% if sub.description.type == 'pack' %}
		Вы просматриваете CG из игры "{{sub.description.name}}". <br />
		<div class="margin10">
			<a href="/art/slideshow/cg_pack/{{sub.description.id}}#1" target="_blank">Перейти в слайдшоу</a>. 
			<a 
				href="/download/art/cg_pack/{{sub.description.id}}" 
				target="_blank"
			>Скачать их одним архивом</a>. 
			(~{{sub.description.weight|default('0')}} {{sub.description.weight_type}}).
		</div>
		Дополнительная информация:
		<div class="pack_description">
			{{sub.description.text}}
		</div>		
	{% else %}
		<table width="100%">
			<tr>
				<td align="left">
					<h2>
						<a href="/art/pool/{{sub.description.id}}/">
							{{sub.description.title}}
						</a>
					</h2>
				</td>
				<td align="right" valign="top">
					Изображений: {{sub.description.count}}
					<br />
					<a href="/art/slideshow/pool/{{sub.description.id}}#1" target="_blank">
						Запустить слайдшоу
					</a>.
				</td>
			</tr>
		</table>
		<div class="posttext">
			{{sub.description.text}}
		</div>
		{% if sub.description.password %}
			<div class="closed_group hidden">
				<div class="margin10">
					Это закрытая группа. Для внесения любых изменений, 
					вам нужно быть владельцем и написать пароль в поле в правом верхнем углу. 
				</div>
				Забыли пароль? 
				<input type="submit" class="disabled redeem_password" value="Выслать новый"> на адрес: 
				<input type="text" class="redeem_email">
			</div>	
		{% endif %}
		<div class="wrapper">
			<span class="right">
				Режим удаления: <input type="checkbox" class="delete_mode check_closed">
			</span>
			<a href="/art/pool/{{sub.description.id}}/sort/">
				Перейти к сортировке
			</a>
		</div>
	{% endif %}
</div>
