<div class="shell post">
	Вы просматриваете CG из игры "{{sub.description.name}}". <br />
	<div class="margin10">
		<a href="/art/slideshow/cg_pack/{{sub.description.id}}#1" target="_blank">Перейти в слайдшоу</a>. 
		<a 
			href="/download/art/cg_pack/{{sub.description.id}}" 
			target="_blank"
		>Скачать их одним архивом</a>. 
		(~{{sub.description.weight|default('0')}} {{sub.description.weight_type}}).
	</div>
	Дополнительная информация:
	<div class="pack_description">
		{{sub.description.text}}
	</div>
</div>
