<div>
	<img src="/i/gouf.jpg" align="left" />
	<p>
		Добрый день. Меня зовут Gouf Custom MS-07B-3 и я выполняю тут функции разведчика. 
		В мои задачи входит поиск битых ссылок и отчет по ним в штаб. 
		Информация обновляется частями, полный обход у меня занимает от одного до трех дней.
	</p>
	<p>
		Отчет вы можете увидеть ниже. 
		Там приведены как ссылки которые я точно определил как битые, так и те насчет которых я не уверен. 
		Новую ссылку на замену битой можно предоставить в комментариях, модераторы вскоре заменят ей старую. 
	</p>
	<p>
		Мои технические характерстики и описание можно найти <a href="http://wiki.4otaku.ru/Gouf">в вики</a>.
		Обсуждение и комментарии моей работы <a href="/news/gouf_mk1/">по этой ссылке</a>.
	</p>
	<p>
		Gouf Custom MS-07B-3, вступление закончил, приступаю к отчету.
	</p>
</div>
<div class="shell">
	<b>
		Всего {{sub.description.broken_total}} битых, 
		{{sub.description.unclear_total}} неопознанных ссылок найдено.
	</b>
</div>
