<div class="shell">
	<div class="display_item" id="news-{{news.id}}">
		<table width="100%">
			<tr>
				<td align="left">
					<h2>
						<a href="{{news.rss_base}}news/{{news.id}}/" title="{{news.title}}">
							{{news.title}}
						</a>
					</h2>
				</td>
				<td align="right" valign="top">
					<a href="{{news.rss_base}}news/{{news.id}}">
						Комментировать
					</a>
					{% if news.comment_count %}
						 ({{news.comment_count}})
					{% endif %}
				</td>
			</tr>
		</table>
		<table cellspacing="0" cellpadding="0" width="100%">
			<tr>
				{% if news.image %}
					<td class="imageholder">
						<div class="image-0">
							<a href="{{news.rss_base}}images/news/full/{{news.image}}.{{news.extension}}" target="_blank">
								<img src="{{news.rss_base}}images/news/thumb/{{news.image}}.jpg" />
							</a>
						</div>
					</td>
				{% endif %}
				<td valign="top">
					<div class="posttext">
						{{news.text}}
					</div>
				</td>
			</tr>
		</table>
		<div class="wrapper">
			<p class="meta">
				{% include 'common/meta.html' with {'item': news, 'base': data.base} %}
			</p>
		</div>
	</div>
</div>
