<div class="shell">
	<div class="post">
		<div class="innerwrap">
			<table width="100%">
				<tr>
					<td align="left">
						<h2>
							<a href="{{post.rss_base}}post/{{post.id}}/" title="{{post.title}}">
								{{post.title}}
							</a>
						</h2>
					</td>
					<td align="right" valign="top">
						{% if post.in_batch %}
							<a href="{{post.rss_base}}post/{{post.id}}/">
								Комментировать
							</a>
							{% if post.comment_count %}
								 ({{post.comment_count}})
							{% endif %}
						{% endif %}
					</td>
				</tr>
			</table>
			<table cellspacing="0" cellpadding="0" width="100%">
					<tr>
					{% if post.image %}
						<td class="imageholder" valign="top">
							{% for key, image in post.image %}
								<div class="image-{{key}}">
									<a href="{{post.rss_base}}images/post/full/{{image.file}}.{{image.extension}}" target="_blank">
										<img src="{{post.rss_base}}images/post/thumb/{{image.file}}.jpg" />
									</a>
								</div>
							{% endfor %}
						</td>
					{% endif %}
					<td valign="top">
						<div class="posttext">
							{{post.text}}
						</div>
						{% if post.link %}
							<p>
								{% for key, link in post.link %}
									{% if not loop.first %}
										<br />
									{% endif %}
									{{link.name}}:
									 {% for url in link.url %}
										{% if not loop.first %}
											&nbsp;|&nbsp;
										{% endif %}
										<a href="{{url.url}}" target="_blank">
											{{url.alias}}
										</a>
									{% endfor %}
										 (~{{link.display_size}} {{link.display_sizetype}})
								{% endfor %}
							</p>
						{% endif %}
						{% if post.extra %}
							<p>
								{% for key, extra in post.extra %}
									{% if not loop.first %}
										<br />
									{% endif %}
									{{extra.name}}:
									<a href="{{extra.url}}" target="_blank">
										{{extra.alias}}
									</a>.
								{% endfor %}
							</p>
						{% endif %}
					</td>
				</tr>
			</table>
			<div class="wrapper">
				<p class="meta">
					{% include 'common/meta.html' with {'item': post} %}
				</p>
			</div>
		</div>
	</div>
</div>
