{% extends "side/settings/base.html" %}

{% block content %}
	Показывать материалы 18+:
	 <input type="checkbox" class="settings" rel="show.nsfw" value="1"{% if _sets.show.nsfw %} checked{% endif %}>
	<br />
	Количество записей на страницу:
	 <select class="settings" rel="pp.post">
		<option value="3"{% if _sets.pp.post == 3 %} selected="yes"{% endif %}>3</option>
		<option value="4"{% if _sets.pp.post == 4 %} selected="yes"{% endif %}>4</option>
		<option value="5"{% if _sets.pp.post == 5 %} selected="yes"{% endif %}>5</option>
		<option value="7"{% if _sets.pp.post == 7 %} selected="yes"{% endif %}>7</option>
		<option value="10"{% if _sets.pp.post == 10 %} selected="yes"{% endif %}>10</option>
		<option value="15"{% if _sets.pp.post == 15 %} selected="yes"{% endif %}>15</option>
		<option value="20"{% if _sets.pp.post == 20 %} selected="yes"{% endif %}>20</option>
	</select>
	<br />
	Количество комментариев на страницу:
	 <select class="settings" rel="pp.comment_in_post">
		<option value="3"{% if _sets.pp.comment_in_post == 3 %} selected="yes"{% endif %}>3</option>
		<option value="4"{% if _sets.pp.comment_in_post == 4 %} selected="yes"{% endif %}>4</option>
		<option value="5"{% if _sets.pp.comment_in_post == 5 %} selected="yes"{% endif %}>5</option>
		<option value="7"{% if _sets.pp.comment_in_post == 7 %} selected="yes"{% endif %}>7</option>
		<option value="10"{% if _sets.pp.comment_in_post == 10 %} selected="yes"{% endif %}>10</option>
		<option value="15"{% if _sets.pp.comment_in_post == 15 %} selected="yes"{% endif %}>15</option>
		<option value="20"{% if _sets.pp.comment_in_post == 20 %} selected="yes"{% endif %}>20</option>
	</select>
	<br />
	Количество обновлений на страницу:
	 <select class="settings" rel="pp.updates_in_line">
		<option value="3"{% if _sets.pp.updates_in_line == 3 %} selected="yes"{% endif %}>3</option>
		<option value="4"{% if _sets.pp.updates_in_line == 4 %} selected="yes"{% endif %}>4</option>
		<option value="5"{% if _sets.pp.updates_in_line == 5 %} selected="yes"{% endif %}>5</option>
		<option value="7"{% if _sets.pp.updates_in_line == 7 %} selected="yes"{% endif %}>7</option>
		<option value="10"{% if _sets.pp.updates_in_line == 10 %} selected="yes"{% endif %}>10</option>
		<option value="15"{% if _sets.pp.updates_in_line == 15 %} selected="yes"{% endif %}>15</option>
		<option value="20"{% if _sets.pp.updates_in_line == 20 %} selected="yes"{% endif %}>20</option>
	</select>
	<br />
	Отчетов Gouf-а на страницу:
	 <select class="settings" rel="pp.post_gouf">
		<option value="5"{% if _sets.pp.post_gouf == 5 %} selected="yes"{% endif %}>5</option>
		<option value="7"{% if _sets.pp.post_gouf == 7 %} selected="yes"{% endif %}>7</option>
		<option value="10"{% if _sets.pp.post_gouf == 10 %} selected="yes"{% endif %}>10</option>
		<option value="15"{% if _sets.pp.post_gouf == 15 %} selected="yes"{% endif %}>15</option>
		<option value="20"{% if _sets.pp.post_gouf == 20 %} selected="yes"{% endif %}>20</option>
		<option value="25"{% if _sets.pp.post_gouf == 25 %} selected="yes"{% endif %}>25</option>
		<option value="30"{% if _sets.pp.post_gouf == 30 %} selected="yes"{% endif %}>30</option>
	</select>
	<br />
	Направление комментариев:
	 <select class="settings" rel="dir.comments_tree">
		<option value="1"{% if _sets.dir.comments_tree %} selected="yes"{% endif %}>инвертированное</option>
		<option value="0"{% if not _sets.dir.comments_tree %} selected="yes"{% endif %}>обычное</option>
	</select>
{% endblock %}
