<div class="edit_wrapper" rel="post">
	<table width="100%">
		<tr>
			<td>
				<select name="edit_type" id="edit_type">
					<option value="title">Заголовок</option>
					<option value="image">Изображения</option>
					<option value="text">Текст</option>
					<option value="link">Ссылки</option>
					<option value="torrent">Торренты</option>
					<option value="file">Прикрепленные файлы</option>
					<option value="extra">Дополнительные ссылки</option>
					{% if _sets.user.rights %}
						<option value="author">Автора</option>
					{% endif %}
					<option value="category">Категории</option>
					<option value="language">Языки</option>
					<option value="tag">Теги</option>
				</select>
				<input type="submit" value="Редактировать" class="load_edit_field" rel="{{id}}" />
			</td>
			{% if _sets.user.rights %}
				<td align="right">
					<div class="right">
						<form method="post" enctype="multipart/form-data">
							<input type="hidden" name="action" value="Update" />
							<input type="checkbox" name="sure" />
							<input type="hidden" name="id" value="{{id}}" />
							<input type="submit" value="Утащить" class="submit" />
							 &nbsp;
							<select name="area">
								{% if post.area != 'main' %}
									<option value="main"> на главную</option>
								{% endif %}
								{% if post.area != 'workshop' %}
									<option value="workshop"> в мастерскую</option>
								{% endif %}
								{% if post.area != 'flea_market' %}
									<option value="flea_market"> в барахолку</option>
								{% endif %}
								<option value="deleted"> в печь</option>
							</select>
						</form>
					</div>
				</td>
			{% endif %}
		</tr>
	</table>
	<div id="loader" class="hidden center loader">
		<img src="/images/ajax-loader.gif">
	</div>
	<div id="edit" class="edit_field hidden"></div>
</div>
