<link rel="stylesheet" href="{{base}}minify/?b=templates/css/add&f=plugins.css,common.css&ver=16" type="text/css" media="screen" />
<script type="text/javascript" src="{{base}}minify/?b=templates/javascript/add&f=plugins.js,common.js,challenge.js&ver=12"></script>
<table>
	<tbody>
		<tr>
			<td class="input field_name">
				Тип соревнования
			</td>
			<td class="inputdata">
				<select name="type" class="type_switcher">
					<option value="fighting" class="selected">Файтинг-турнир</a>
					<option value="art">Конкурс творчества</a>
				</select>
			</td>
		</tr>			
		<tr>
			<td class="input field_name">
				Загрузить картинку
			</td>
			<td class="inputdata">
				<table>
					<tr>
						<td>
							<div id="challenge-image"></div>
						</td>
						<td>
							<img class="processing-image" src="{{base}}images/ajax-processing.gif" />
						</td>
						<td>
							<span class="processing-image">Изображение загружается. (Вы можете загружать несколько изображений одновременно.)</span>
						</td>
						<td class="cancel-holder">
							<span class="processing-image">Отменить <img class="image_upload_stop right" src="{{base}}images/cancel.png"></span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" id="error">
			
			</td>
		</tr>			
		<tr id="transparent" class="standart_images">
			<td colspan="2">
				
			</td>
		</tr>
	</tbody>
</table>
<div class="fields"></div>

{% include 'ajax/addbar/challenge/fighting.html' %}
{% include 'ajax/addbar/challenge/art.html' %}

<div class="fields"></div>
<table>
	<tbody>
		<tr>
			<td class="input field_name">

			</td>
			<td class="inputdata">
				<input type="hidden" name="module" value="challenge" />
				<input type="hidden" name="function" value="create" />
				<input type="submit" value="Создать новое соревнование" />
			</td>
		</tr>
	</tbody>
</table>
