<link rel="stylesheet" href="{{base}}minify/?b=templates/css/add&f=plugins.css,common.css&ver=14" type="text/css" media="screen" />
<script type="text/javascript" src="{{base}}minify/?b=templates/javascript/add&f=plugins.js,common.js,challenge.js&ver=10"></script>
<table>
	<tbody>
		<tr>
			<td class="input field_name">
				Тип соревнования
			</td>
			<td class="inputdata">
				<select name="type" class="type_switcher">
					<option value="fighting" class="selected">Файтинг-турнир</a>
					<option value="art">Конкурс творчества</a>
				</select>
			</td>
		</tr>
	</tbody>
</table>
<div class="fields"></div>

{% include 'ajax/addbar/challenge/fighting.html' %}
{% include 'ajax/addbar/challenge/art.html' %}

<div class="fields"></div>
<table>
	<tbody>
		<tr>
			<td class="input field_name">

			</td>
			<td class="inputdata">
				<input type="hidden" name="module" value="challenge" />
				<input type="hidden" name="function" value="create" />
				<input type="submit" value="Создать новое соревнование" />
			</td>
		</tr>
	</tbody>
</table>
